In [1]:
import pandas as pd
import data_process_utility as dpu

In [2]:
t_format_check = "%Y-%m-%d %H:%M:%S"
t_format_output = "%m/%d/%Y %H:%M"

## process 2016 q3

In [3]:
year_q = (16, 3)

In [4]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2016-q3.csv'

In [5]:
df = pd.read_csv(raw_filepath)

In [6]:
df

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,1912818,180,7/7/2016 4:17,7/7/2016 4:20,3014,34.056610,-118.23721,3014,34.056610,-118.23721,6281,30,Round Trip,Monthly Pass
1,1919661,1980,7/7/2016 6:00,7/7/2016 6:33,3014,34.056610,-118.23721,3014,34.056610,-118.23721,6281,30,Round Trip,Monthly Pass
2,1933383,300,7/7/2016 10:32,7/7/2016 10:37,3016,34.052898,-118.24156,3016,34.052898,-118.24156,5861,365,Round Trip,Flex Pass
3,1944197,10860,7/7/2016 10:37,7/7/2016 13:38,3016,34.052898,-118.24156,3016,34.052898,-118.24156,5861,365,Round Trip,Flex Pass
4,1940317,420,7/7/2016 12:51,7/7/2016 12:58,3032,34.049889,-118.25588,3032,34.049889,-118.25588,6674,0,Round Trip,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55434,8365125,840,9/30/2016 23:43,9/30/2016 23:57,3054,34.039219,-118.23649,3005,34.048550,-118.25905,6146,30,One Way,Monthly Pass
55435,8369653,840,9/30/2016 23:44,9/30/2016 23:58,3051,34.045422,-118.25352,3055,34.044159,-118.25158,6069,30,One Way,Monthly Pass
55436,8369652,1020,9/30/2016 23:47,10/1/2016 0:04,3032,34.049889,-118.25588,3023,34.050911,-118.24097,5725,0,One Way,Walk-up
55437,8369651,540,9/30/2016 23:53,10/1/2016 0:02,3035,34.048401,-118.26095,3031,34.044701,-118.25244,5975,0,One Way,Walk-up
55438,8369650,480,9/30/2016 23:54,10/1/2016 0:02,3035,34.048401,-118.26095,3031,34.044701,-118.25244,6683,0,One Way,Walk-up

In [7]:
df.columns

Index(['trip_id', 'duration', 'start_time', 'end_time', 'start_station_id',
       'start_lat', 'start_lon', 'end_station_id', 'end_lat', 'end_lon',
       'bike_id', 'plan_duration', 'trip_route_category', 'passholder_type'],
      dtype='object')

In [8]:
df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
df.columns

Index(['trip_id', 'duration', 'start_time', 'end_time', 'start_station',
       'start_lat', 'start_lon', 'end_station', 'end_lat', 'end_lon',
       'bike_id', 'plan_duration', 'trip_route_category', 'passholder_type'],
      dtype='object')

In [9]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [10]:
df_without_3000 = df.drop(index3000)

In [11]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [12]:
df_position_isnull = df_position.isnull()

In [13]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [14]:
df_clean = df_without_3000.drop(index_station_without_position)

In [15]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [16]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'7/7/2016 4:17'

In [17]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

False

In [18]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [19]:
df_clean

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,1912818,180,7/7/2016 4:17,7/7/2016 4:20,3014,34.056610,-118.23721,3014,34.056610,-118.23721,6281,30,Round Trip,Monthly Pass
1,1919661,1980,7/7/2016 6:00,7/7/2016 6:33,3014,34.056610,-118.23721,3014,34.056610,-118.23721,6281,30,Round Trip,Monthly Pass
2,1933383,300,7/7/2016 10:32,7/7/2016 10:37,3016,34.052898,-118.24156,3016,34.052898,-118.24156,5861,365,Round Trip,Flex Pass
3,1944197,10860,7/7/2016 10:37,7/7/2016 13:38,3016,34.052898,-118.24156,3016,34.052898,-118.24156,5861,365,Round Trip,Flex Pass
4,1940317,420,7/7/2016 12:51,7/7/2016 12:58,3032,34.049889,-118.25588,3032,34.049889,-118.25588,6674,0,Round Trip,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55434,8365125,840,9/30/2016 23:43,9/30/2016 23:57,3054,34.039219,-118.23649,3005,34.048550,-118.25905,6146,30,One Way,Monthly Pass
55435,8369653,840,9/30/2016 23:44,9/30/2016 23:58,3051,34.045422,-118.25352,3055,34.044159,-118.25158,6069,30,One Way,Monthly Pass
55436,8369652,1020,9/30/2016 23:47,10/1/2016 0:04,3032,34.049889,-118.25588,3023,34.050911,-118.24097,5725,0,One Way,Walk-up
55437,8369651,540,9/30/2016 23:53,10/1/2016 0:02,3035,34.048401,-118.26095,3031,34.044701,-118.25244,5975,0,One Way,Walk-up
55438,8369650,480,9/30/2016 23:54,10/1/2016 0:02,3035,34.048401,-118.26095,3031,34.044701,-118.25244,6683,0,One Way,Walk-up

In [20]:
df_clean.to_csv(output_filepath, index=False)

## process 2016 q4

In [21]:
year_q = (16, 4)

In [22]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2016-q4.csv'

In [23]:
df = pd.read_csv(raw_filepath)

In [24]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,8374193,42,2016-10-01 00:38:00,2016-10-01 01:20:00,3051,34.045422,-118.253517,3027,34.049980,-118.247162,6075,1,One Way,Walk-up
1,8369649,7,2016-10-01 00:47:00,2016-10-01 00:54:00,3046,34.053020,-118.247948,3082,34.046520,-118.237411,5823,1,One Way,Walk-up
2,8369648,4,2016-10-01 00:48:00,2016-10-01 00:52:00,3062,34.047749,-118.243172,3022,34.046070,-118.233093,6301,30,One Way,Monthly Pass
3,8374190,52,2016-10-01 00:53:00,2016-10-01 01:45:00,3063,34.048038,-118.253738,3034,34.042061,-118.263382,6143,365,One Way,Flex Pass
4,8374189,51,2016-10-01 00:54:00,2016-10-01 01:45:00,3063,34.048038,-118.253738,3034,34.042061,-118.263382,6251,365,One Way,Flex Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43193,17056883,5,2016-12-31 23:17:00,2016-12-31 23:22:00,3069,34.050880,-118.248253,3046,34.053020,-118.247948,6692,30,One Way,Monthly Pass
43194,17056881,12,2016-12-31 23:24:00,2016-12-31 23:36:00,3033,34.040989,-118.255798,3030,34.051941,-118.243530,6220,1,One Way,Walk-up
43195,17056882,12,2016-12-31 23:24:00,2016-12-31 23:36:00,3033,34.040989,-118.255798,3030,34.051941,-118.243530,6520,1,One Way,Walk-up
43196,17056880,11,2016-12-31 23:25:00,2016-12-31 23:36:00,3033,34.040989,-118.255798,3030,34.051941,-118.243530,6533,1,One Way,Walk-up
43197,17056879,7,2016-12-31 23:26:00,2016-12-31 23:33:00,3046,34.053020,-118.247948,3030,34.051941,-118.243530,5754,30,One Way,Monthly Pass

In [25]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [26]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [27]:
df_without_3000 = df.drop(index3000)

In [28]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42696 entries, 0 to 43197
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              42696 non-null  int64
 1   duration             42696 non-null  int64
 2   start_time           42696 non-null  object
 3   end_time             42696 non-null  object
 4   start_station        42696 non-null  int64
 5   start_lat            42696 non-null  float64
 6   start_lon            42696 non-null  float64
 7   end_station          42696 non-null  int64
 8   end_lat              42696 non-null  float64
 9   end_lon              42696 non-null  float64
 10  bike_id              42696 non-null  int64
 11  plan_duration        42696 non-null  int64
 12  trip_route_category  42696 non-null  object
 13  passholder_type      42696 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 4.9+ MB

In [29]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [30]:
df_position_isnull = df_position.isnull()

In [31]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [32]:
df_clean = df_without_3000.drop(index_station_without_position)

In [33]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [34]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2016-10-01 00:38:00'

In [35]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [36]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [37]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,8374193,42,10/01/2016 00:38,10/01/2016 01:20,3051,34.045422,-118.253517,3027,34.049980,-118.247162,6075,1,One Way,Walk-up
1,8369649,7,10/01/2016 00:47,10/01/2016 00:54,3046,34.053020,-118.247948,3082,34.046520,-118.237411,5823,1,One Way,Walk-up
2,8369648,4,10/01/2016 00:48,10/01/2016 00:52,3062,34.047749,-118.243172,3022,34.046070,-118.233093,6301,30,One Way,Monthly Pass
3,8374190,52,10/01/2016 00:53,10/01/2016 01:45,3063,34.048038,-118.253738,3034,34.042061,-118.263382,6143,365,One Way,Flex Pass
4,8374189,51,10/01/2016 00:54,10/01/2016 01:45,3063,34.048038,-118.253738,3034,34.042061,-118.263382,6251,365,One Way,Flex Pass

In [38]:
df_clean.to_csv(output_filepath, index=False)

## process 2017 q1

In [39]:
year_q = (17, 1)

In [40]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2017-q1.csv'

In [41]:
df = pd.read_csv(raw_filepath)

In [42]:
df

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,17059131,480,1/1/2017 0:15,1/1/2017 0:23,3030,34.051941,-118.243530,3029,34.048851,-118.246422,6220,30.0,One Way,Monthly Pass
1,17059130,720,1/1/2017 0:24,1/1/2017 0:36,3028,34.058319,-118.246094,3028,34.058319,-118.246094,6351,0.0,Round Trip,Walk-up
2,17059129,1020,1/1/2017 0:28,1/1/2017 0:45,3027,34.049980,-118.247162,3018,34.043732,-118.260139,5836,0.0,One Way,Walk-up
3,17059128,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6142,30.0,One Way,Monthly Pass
4,17059127,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6135,30.0,One Way,Monthly Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33781,23660993,540,3/31/2017 23:43,3/31/2017 23:52,3055,34.044159,-118.251579,3035,34.048401,-118.260948,5978,0.0,One Way,Walk-up
33782,23660992,480,3/31/2017 23:44,3/31/2017 23:52,3055,34.044159,-118.251579,3035,34.048401,-118.260948,6478,0.0,One Way,Walk-up
33783,23660991,480,3/31/2017 23:44,3/31/2017 23:52,3082,34.046520,-118.237411,3054,34.039219,-118.236488,6183,0.0,One Way,Walk-up
33784,23660990,420,3/31/2017 23:45,3/31/2017 23:52,3082,34.046520,-118.237411,3054,34.039219,-118.236488,5900,0.0,One Way,Walk-up
33785,23664826,1260,3/31/2017 23:45,4/1/2017 0:06,3078,34.064281,-118.238937,3029,34.048851,-118.246422,6207,0.0,One Way,Walk-up

In [43]:
df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
df.columns

Index(['trip_id', 'duration', 'start_time', 'end_time', 'start_station',
       'start_lat', 'start_lon', 'end_station', 'end_lat', 'end_lon',
       'bike_id', 'plan_duration', 'trip_route_category', 'passholder_type'],
      dtype='object')

In [44]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [45]:
df_without_3000 = df.drop(index3000)

In [46]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33198 entries, 0 to 33785
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              33198 non-null  int64
 1   duration             33198 non-null  int64
 2   start_time           33198 non-null  object
 3   end_time             33198 non-null  object
 4   start_station        33198 non-null  int64
 5   start_lat            33198 non-null  float64
 6   start_lon            33198 non-null  float64
 7   end_station          33198 non-null  int64
 8   end_lat              33198 non-null  float64
 9   end_lon              33198 non-null  float64
 10  bike_id              33198 non-null  object
 11  plan_duration        32894 non-null  float64
 12  trip_route_category  33198 non-null  object
 13  passholder_type      33198 non-null  object
dtypes: float64(5), int64(4), object(5)
memory usage: 3.8+ MB

In [47]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [48]:
df_position_isnull = df_position.isnull()

In [49]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [50]:
df_clean = df_without_3000.drop(index_station_without_position)

In [51]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration           True
trip_route_category    False
passholder_type        False
dtype: bool

In [52]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'1/1/2017 0:15'

In [53]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

False

In [54]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [55]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,17059131,480,1/1/2017 0:15,1/1/2017 0:23,3030,34.051941,-118.243530,3029,34.048851,-118.246422,6220,30.0,One Way,Monthly Pass
1,17059130,720,1/1/2017 0:24,1/1/2017 0:36,3028,34.058319,-118.246094,3028,34.058319,-118.246094,6351,0.0,Round Trip,Walk-up
2,17059129,1020,1/1/2017 0:28,1/1/2017 0:45,3027,34.049980,-118.247162,3018,34.043732,-118.260139,5836,0.0,One Way,Walk-up
3,17059128,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6142,30.0,One Way,Monthly Pass
4,17059127,300,1/1/2017 0:38,1/1/2017 0:43,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6135,30.0,One Way,Monthly Pass

In [56]:
df_clean.to_csv(output_filepath, index=False)

## process 2017 q2

In [57]:
year_q = (17, 2)

In [58]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2017-q2.csv'

In [59]:
df = pd.read_csv(raw_filepath)

In [60]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,32815764,18,2017-06-25 19:53:00,2017-06-25 20:11:00,3047,34.039982,-118.266403,3005,34.048500,-118.258537,4727,30,One Way,Monthly Pass
1,32821341,25,2017-06-25 20:35:00,2017-06-25 21:00:00,3005,34.048500,-118.258537,3020,34.031052,-118.267090,4727,30,One Way,Monthly Pass
2,31652471,10,2017-06-16 08:41:00,2017-06-16 08:51:00,3023,34.050911,-118.240967,3005,34.048500,-118.258537,4727,30,One Way,Monthly Pass
3,31700167,4,2017-06-16 17:39:00,2017-06-16 17:43:00,3005,34.048500,-118.258537,3051,34.045422,-118.253517,4727,30,One Way,Monthly Pass
4,31717085,17,2017-06-16 20:17:00,2017-06-16 20:34:00,3051,34.045422,-118.253517,3005,34.048500,-118.258537,4727,0,One Way,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51913,24763845,5,2017-04-12 20:57:00,2017-04-12 21:02:00,3007,34.050480,-118.254593,3031,34.044701,-118.252441,6418,30,One Way,Monthly Pass
51914,24835328,10,2017-04-13 17:38:00,2017-04-13 17:48:00,3031,34.044701,-118.252441,3034,34.042061,-118.263382,6418,30,One Way,Monthly Pass
51915,24886519,5,2017-04-14 07:04:00,2017-04-14 07:09:00,3034,34.042061,-118.263382,3035,34.048401,-118.260948,6418,365,One Way,Flex Pass
51916,24926911,4,2017-04-14 18:06:00,2017-04-14 18:10:00,3038,34.046822,-118.248352,3042,34.049301,-118.238808,6418,30,One Way,Monthly Pass
51917,25101628,8,2017-04-16 16:46:00,2017-04-16 16:54:00,3068,34.053200,-118.250954,3026,34.063179,-118.245880,6418,365,One Way,Flex Pass

In [61]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [62]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [63]:
df_without_3000 = df.drop(index3000)

In [64]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51099 entries, 0 to 51917
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              51099 non-null  int64
 1   duration             51099 non-null  int64
 2   start_time           51099 non-null  object
 3   end_time             51099 non-null  object
 4   start_station        51099 non-null  int64
 5   start_lat            51099 non-null  float64
 6   start_lon            51099 non-null  float64
 7   end_station          51099 non-null  int64
 8   end_lat              51099 non-null  float64
 9   end_lon              51099 non-null  float64
 10  bike_id              51099 non-null  int64
 11  plan_duration        51099 non-null  int64
 12  trip_route_category  51099 non-null  object
 13  passholder_type      51099 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 5.8+ MB

In [65]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [66]:
df_position_isnull = df_position.isnull()

In [67]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [68]:
df_clean = df_without_3000.drop(index_station_without_position)

In [69]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [70]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2017-06-25 19:53:00'

In [71]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [72]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [73]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,32815764,18,06/25/2017 19:53,06/25/2017 20:11,3047,34.039982,-118.266403,3005,34.048500,-118.258537,4727,30,One Way,Monthly Pass
1,32821341,25,06/25/2017 20:35,06/25/2017 21:00,3005,34.048500,-118.258537,3020,34.031052,-118.267090,4727,30,One Way,Monthly Pass
2,31652471,10,06/16/2017 08:41,06/16/2017 08:51,3023,34.050911,-118.240967,3005,34.048500,-118.258537,4727,30,One Way,Monthly Pass
3,31700167,4,06/16/2017 17:39,06/16/2017 17:43,3005,34.048500,-118.258537,3051,34.045422,-118.253517,4727,30,One Way,Monthly Pass
4,31717085,17,06/16/2017 20:17,06/16/2017 20:34,3051,34.045422,-118.253517,3005,34.048500,-118.258537,4727,0,One Way,Walk-up

In [74]:
df_clean.to_csv(output_filepath, index=False)

## process 2017 q3

In [75]:
year_q = (17, 3)

In [76]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2017-q3.csv'

In [77]:
df = pd.read_csv(raw_filepath)

In [78]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,33404951,36,7/1/2017 0:09,7/1/2017 0:45,3018,34.043732,-118.260139,3018,34.043732,-118.260139,5996,0,Round Trip,Walk-up
1,33404950,13,7/1/2017 0:10,7/1/2017 0:23,3055,34.044159,-118.251579,3082,34.046520,-118.237411,5777,0,One Way,Walk-up
2,33404947,34,7/1/2017 0:11,7/1/2017 0:45,3018,34.043732,-118.260139,3018,34.043732,-118.260139,6342,0,Round Trip,Walk-up
3,33404948,34,7/1/2017 0:11,7/1/2017 0:45,3018,34.043732,-118.260139,3018,34.043732,-118.260139,6478,0,Round Trip,Walk-up
4,33404949,12,7/1/2017 0:11,7/1/2017 0:23,3055,34.044159,-118.251579,3082,34.046520,-118.237411,6411,0,One Way,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72332,49169380,50,9/30/2017 23:38,10/1/2017 0:28,3078,34.064281,-118.238937,3024,34.057720,-118.248970,6611,0,One Way,Walk-up
72333,49161856,18,9/30/2017 23:39,9/30/2017 23:57,3078,34.064281,-118.238937,3006,34.045540,-118.256668,5976,0,One Way,Walk-up
72334,49169378,47,9/30/2017 23:40,10/1/2017 0:27,3078,34.064281,-118.238937,3024,34.057720,-118.248970,6083,0,One Way,Walk-up
72335,49161855,9,9/30/2017 23:45,9/30/2017 23:54,3016,34.052898,-118.241562,3076,34.040600,-118.253838,6446,0,One Way,Walk-up
72336,49161854,8,9/30/2017 23:46,9/30/2017 23:54,3016,34.052898,-118.241562,3076,34.040600,-118.253838,6458,0,One Way,Walk-up

In [79]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [80]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [81]:
df_without_3000 = df.drop(index3000)

In [82]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71542 entries, 0 to 72336
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              71542 non-null  int64
 1   duration             71542 non-null  int64
 2   start_time           71542 non-null  object
 3   end_time             71542 non-null  object
 4   start_station        71542 non-null  int64
 5   start_lat            71542 non-null  float64
 6   start_lon            71542 non-null  float64
 7   end_station          71542 non-null  int64
 8   end_lat              71542 non-null  float64
 9   end_lon              71542 non-null  float64
 10  bike_id              71542 non-null  int64
 11  plan_duration        71542 non-null  int64
 12  trip_route_category  71542 non-null  object
 13  passholder_type      71542 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 8.2+ MB

In [83]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [84]:
df_position_isnull = df_position.isnull()

In [85]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [86]:
df_clean = df_without_3000.drop(index_station_without_position)

In [87]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [88]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'7/1/2017 0:09'

In [89]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

False

In [90]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [91]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,33404951,36,7/1/2017 0:09,7/1/2017 0:45,3018,34.043732,-118.260139,3018,34.043732,-118.260139,5996,0,Round Trip,Walk-up
1,33404950,13,7/1/2017 0:10,7/1/2017 0:23,3055,34.044159,-118.251579,3082,34.046520,-118.237411,5777,0,One Way,Walk-up
2,33404947,34,7/1/2017 0:11,7/1/2017 0:45,3018,34.043732,-118.260139,3018,34.043732,-118.260139,6342,0,Round Trip,Walk-up
3,33404948,34,7/1/2017 0:11,7/1/2017 0:45,3018,34.043732,-118.260139,3018,34.043732,-118.260139,6478,0,Round Trip,Walk-up
4,33404949,12,7/1/2017 0:11,7/1/2017 0:23,3055,34.044159,-118.251579,3082,34.046520,-118.237411,6411,0,One Way,Walk-up

In [92]:
df_clean.to_csv(output_filepath, index=False)

## process 2017 q4

In [93]:
year_q = (17, 4)

In [94]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2017-q4.csv'

In [95]:
df = pd.read_csv(raw_filepath)

In [96]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,65463879,2,2017-12-30 10:20:00,2017-12-30 10:22:00,3000,NaN,NaN,3000,NaN,NaN,12116,30,One Way,Monthly Pass
1,65465211,1440,2017-12-29 08:03:00,2018-01-01 09:27:00,3022,34.046070,-118.23309,3000,NaN,NaN,6370,0,One Way,Walk-up
2,65522945,1440,2017-12-30 23:44:00,2018-01-01 18:24:00,3007,34.050480,-118.25459,3000,NaN,NaN,6411,0,One Way,Walk-up
3,65529597,1440,2017-12-31 12:43:00,2018-01-01 19:26:00,3047,34.039982,-118.26640,3000,NaN,NaN,6627,0,One Way,Walk-up
4,65641268,1440,2017-12-30 22:13:00,2018-01-02 12:20:00,3023,34.050911,-118.24096,3000,NaN,NaN,6088,0,One Way,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71209,65063624,38,2017-12-29 14:00:00,2017-12-29 14:38:00,4227,34.030628,-118.26960,4227,34.030628,-118.2696,6458,0,Round Trip,Walk-up
71210,65069022,24,2017-12-29 15:14:00,2017-12-29 15:38:00,4227,34.030628,-118.26960,4227,34.030628,-118.2696,6458,0,Round Trip,Walk-up
71211,65080190,28,2017-12-29 17:13:00,2017-12-29 17:41:00,4227,34.030628,-118.26960,4227,34.030628,-118.2696,6458,0,Round Trip,Walk-up
71212,65180032,10,2017-12-30 11:41:00,2017-12-30 11:51:00,3005,34.048500,-118.25853,4227,34.030628,-118.2696,6383,0,One Way,Walk-up
71213,65264376,15,2017-12-31 01:42:00,2017-12-31 01:57:00,3008,34.046612,-118.26273,4227,34.030628,-118.2696,5740,0,One Way,Walk-up

In [97]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [98]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [99]:
df_without_3000 = df.drop(index3000)

In [100]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69499 entries, 1440 to 71213
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              69499 non-null  int64
 1   duration             69499 non-null  int64
 2   start_time           69499 non-null  object
 3   end_time             69499 non-null  object
 4   start_station        69499 non-null  int64
 5   start_lat            69499 non-null  float64
 6   start_lon            69499 non-null  float64
 7   end_station          69499 non-null  int64
 8   end_lat              69499 non-null  float64
 9   end_lon              69499 non-null  float64
 10  bike_id              69499 non-null  int64
 11  plan_duration        69499 non-null  int64
 12  trip_route_category  69499 non-null  object
 13  passholder_type      69499 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 8.0+ MB

In [101]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [102]:
df_position_isnull = df_position.isnull()

In [103]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [104]:
df_clean = df_without_3000.drop(index_station_without_position)

In [105]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [106]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2017-10-23 18:16:00'

In [107]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [108]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [109]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
1440,53707737,7,10/23/2017 18:16,10/23/2017 18:23,3076,34.040600,-118.25383,3005,34.0485,-118.25853,6434,365,One Way,Flex Pass
1441,53707738,8,10/23/2017 18:15,10/23/2017 18:23,3076,34.040600,-118.25383,3005,34.0485,-118.25853,6088,0,One Way,Walk-up
1442,53707761,15,10/23/2017 18:00,10/23/2017 18:15,3032,34.049889,-118.25588,3005,34.0485,-118.25853,6096,30,One Way,Monthly Pass
1443,53716830,6,10/23/2017 19:35,10/23/2017 19:41,3040,34.053570,-118.26635,3005,34.0485,-118.25853,6581,30,One Way,Monthly Pass
1444,53716845,7,10/23/2017 19:26,10/23/2017 19:33,3074,34.044170,-118.26116,3005,34.0485,-118.25853,6231,30,One Way,Monthly Pass

In [110]:
df_clean.to_csv(output_filepath, index=False)

## process 2018 q1

In [111]:
year_q = (18, 1)

In [112]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2018-q1.csv'

In [113]:
df = pd.read_csv(raw_filepath)

In [114]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,65406367,21,2018-01-01 00:04:00,2018-01-01 00:25:00,3063,34.049198,-118.252831,3018,34.043732,-118.260139,5889,0,One Way,Walk-up
1,65406366,20,2018-01-01 00:05:00,2018-01-01 00:25:00,3063,34.049198,-118.252831,3018,34.043732,-118.260139,6311,0,One Way,Walk-up
2,65406365,19,2018-01-01 00:06:00,2018-01-01 00:25:00,3063,34.049198,-118.252831,3018,34.043732,-118.260139,5753,0,One Way,Walk-up
3,65406364,22,2018-01-01 00:13:00,2018-01-01 00:35:00,3018,34.043732,-118.260139,3031,34.044701,-118.252441,6220,30,One Way,Monthly Pass
4,65406362,45,2018-01-01 00:14:00,2018-01-01 00:59:00,4204,33.988419,-118.451630,4216,34.023392,-118.479637,12436,30,One Way,Monthly Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65382,79626925,10,2018-03-31 23:31:00,2018-03-31 23:41:00,4149,34.138210,-118.147079,4183,34.146069,-118.129181,6573,30,One Way,Monthly Pass
65383,79626924,14,2018-03-31 23:35:00,2018-03-31 23:49:00,3011,34.041130,-118.267982,3008,34.046612,-118.262733,11967,1,One Way,One Day Pass
65384,79626923,1,2018-03-31 23:36:00,2018-03-31 23:37:00,3082,34.046520,-118.237411,3082,34.046520,-118.237411,5880,30,Round Trip,Monthly Pass
65385,79626922,10,2018-03-31 23:37:00,2018-03-31 23:47:00,3082,34.046520,-118.237411,3049,34.056969,-118.253593,6351,30,One Way,Monthly Pass
65386,79626921,7,2018-03-31 23:39:00,2018-03-31 23:46:00,3082,34.046520,-118.237411,3054,34.039219,-118.236488,6155,30,One Way,Monthly Pass

In [115]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [116]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [117]:
df_without_3000 = df.drop(index3000)

In [118]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64281 entries, 0 to 65386
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              64281 non-null  int64
 1   duration             64281 non-null  int64
 2   start_time           64281 non-null  object
 3   end_time             64281 non-null  object
 4   start_station        64281 non-null  int64
 5   start_lat            64281 non-null  float64
 6   start_lon            64281 non-null  float64
 7   end_station          64281 non-null  int64
 8   end_lat              64281 non-null  float64
 9   end_lon              64281 non-null  float64
 10  bike_id              64281 non-null  int64
 11  plan_duration        64281 non-null  int64
 12  trip_route_category  64281 non-null  object
 13  passholder_type      64281 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 7.4+ MB

In [119]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [120]:
df_position_isnull = df_position.isnull()

In [121]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [122]:
df_clean = df_without_3000.drop(index_station_without_position)

In [123]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [124]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2018-01-01 00:04:00'

In [125]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [126]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [127]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,65406367,21,01/01/2018 00:04,01/01/2018 00:25,3063,34.049198,-118.252831,3018,34.043732,-118.260139,5889,0,One Way,Walk-up
1,65406366,20,01/01/2018 00:05,01/01/2018 00:25,3063,34.049198,-118.252831,3018,34.043732,-118.260139,6311,0,One Way,Walk-up
2,65406365,19,01/01/2018 00:06,01/01/2018 00:25,3063,34.049198,-118.252831,3018,34.043732,-118.260139,5753,0,One Way,Walk-up
3,65406364,22,01/01/2018 00:13,01/01/2018 00:35,3018,34.043732,-118.260139,3031,34.044701,-118.252441,6220,30,One Way,Monthly Pass
4,65406362,45,01/01/2018 00:14,01/01/2018 00:59,4204,33.988419,-118.451630,4216,34.023392,-118.479637,12436,30,One Way,Monthly Pass

In [128]:
df_clean.to_csv(output_filepath, index=False)

## process 2018 q2

In [129]:
year_q = (18, 2)

In [130]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2018-q2.csv'

In [131]:
df = pd.read_csv(raw_filepath)

In [132]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,79633812,4,2018-04-01 00:04:00,2018-04-01 00:08:00,3062,34.047749,-118.243172,3027,34.049980,-118.247162,6073,30,One Way,Monthly Pass
1,79640723,56,2018-04-01 00:09:00,2018-04-01 01:05:00,4211,33.984928,-118.469963,4211,33.984928,-118.469963,6406,0,Round Trip,Walk-up
2,79633811,11,2018-04-01 00:15:00,2018-04-01 00:26:00,3019,34.038609,-118.260857,3027,34.049980,-118.247162,6213,365,One Way,Flex Pass
3,79633810,11,2018-04-01 00:28:00,2018-04-01 00:39:00,4214,33.995560,-118.481552,4210,33.984341,-118.471550,5889,0,One Way,Walk-up
4,79633809,7,2018-04-01 00:32:00,2018-04-01 00:39:00,4214,33.995560,-118.481552,4210,33.984341,-118.471550,12379,0,One Way,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77352,94851146,37,2018-06-30 23:33:00,2018-07-01 00:10:00,3040,34.053570,-118.266357,3040,34.053570,-118.266357,6037,0,Round Trip,Walk-up
77353,94851145,23,2018-06-30 23:40:00,2018-07-01 00:03:00,3008,34.046612,-118.262733,3019,34.038609,-118.260857,5921,30,One Way,Monthly Pass
77354,94844549,1,2018-06-30 23:45:00,2018-06-30 23:46:00,3013,33.779819,-118.263023,3013,33.779819,-118.263023,12441,0,Round Trip,Walk-up
77355,94844548,3,2018-06-30 23:49:00,2018-06-30 23:52:00,3029,34.048851,-118.246422,3067,34.045181,-118.250237,6535,30,One Way,Monthly Pass
77356,94851142,29,2018-06-30 23:52:00,2018-07-01 00:21:00,3013,33.779819,-118.263023,3013,33.779819,-118.263023,12304,0,Round Trip,Walk-up

In [133]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [134]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [135]:
df_without_3000 = df.drop(index3000)

In [136]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76124 entries, 0 to 77356
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              76124 non-null  int64
 1   duration             76124 non-null  int64
 2   start_time           76124 non-null  object
 3   end_time             76124 non-null  object
 4   start_station        76124 non-null  int64
 5   start_lat            76124 non-null  float64
 6   start_lon            76124 non-null  float64
 7   end_station          76124 non-null  int64
 8   end_lat              76124 non-null  float64
 9   end_lon              76124 non-null  float64
 10  bike_id              76124 non-null  int64
 11  plan_duration        76124 non-null  int64
 12  trip_route_category  76124 non-null  object
 13  passholder_type      76124 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 8.7+ MB

In [137]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [138]:
df_position_isnull = df_position.isnull()

In [139]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [140]:
df_clean = df_without_3000.drop(index_station_without_position)

In [141]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [142]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2018-04-01 00:04:00'

In [143]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [144]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [145]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,79633812,4,04/01/2018 00:04,04/01/2018 00:08,3062,34.047749,-118.243172,3027,34.049980,-118.247162,6073,30,One Way,Monthly Pass
1,79640723,56,04/01/2018 00:09,04/01/2018 01:05,4211,33.984928,-118.469963,4211,33.984928,-118.469963,6406,0,Round Trip,Walk-up
2,79633811,11,04/01/2018 00:15,04/01/2018 00:26,3019,34.038609,-118.260857,3027,34.049980,-118.247162,6213,365,One Way,Flex Pass
3,79633810,11,04/01/2018 00:28,04/01/2018 00:39,4214,33.995560,-118.481552,4210,33.984341,-118.471550,5889,0,One Way,Walk-up
4,79633809,7,04/01/2018 00:32,04/01/2018 00:39,4214,33.995560,-118.481552,4210,33.984341,-118.471550,12379,0,One Way,Walk-up

In [146]:
df_clean.to_csv(output_filepath, index=False)

## process 2018 q3

In [147]:
year_q = (18, 3)

In [148]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2018-q3.csv'

In [149]:
df = pd.read_csv(raw_filepath)

In [150]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,94851140,8,2018-07-01 00:04:00,2018-07-01 00:12:00,3058,34.035801,-118.233170,3082,34.046520,-118.237411,6279,30,One Way,Monthly Pass
1,94851141,8,2018-07-01 00:04:00,2018-07-01 00:12:00,3058,34.035801,-118.233170,3082,34.046520,-118.237411,6518,365,One Way,Flex Pass
2,94851138,15,2018-07-01 00:09:00,2018-07-01 00:24:00,4147,34.145248,-118.150070,4174,34.165291,-118.150970,4823,365,One Way,Monthly Pass
3,94851137,7,2018-07-01 00:22:00,2018-07-01 00:29:00,4157,34.140999,-118.132088,4162,34.147499,-118.148010,6115,30,One Way,Monthly Pass
4,94851136,35,2018-07-01 00:23:00,2018-07-01 00:58:00,3013,33.779819,-118.263023,3013,33.779819,-118.263023,12055,1,Round Trip,Walk-up
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95278,106412141,30,2018-09-30 23:47:00,2018-10-01 00:17:00,3038,34.046822,-118.248352,3038,34.046822,-118.248352,6258,1,Round Trip,Walk-up
95279,106411454,10,2018-09-30 23:52:00,2018-10-01 00:02:00,3035,34.048401,-118.260948,3074,34.044170,-118.261169,5931,30,One Way,Monthly Pass
95280,106411455,11,2018-09-30 23:52:00,2018-10-01 00:03:00,3024,34.057720,-118.248970,3055,34.044159,-118.251579,6100,30,One Way,Monthly Pass
95281,106411453,9,2018-09-30 23:54:00,2018-10-01 00:03:00,3008,34.046612,-118.262733,3052,34.051102,-118.264557,5879,1,One Way,Walk-up
95282,106411452,7,2018-09-30 23:57:00,2018-10-01 00:04:00,3026,34.063179,-118.245880,3049,34.056969,-118.253593,6121,30,One Way,Monthly Pass

In [151]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [152]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [153]:
df_without_3000 = df.drop(index3000)

In [154]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93199 entries, 0 to 95282
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              93199 non-null  int64
 1   duration             93199 non-null  int64
 2   start_time           93199 non-null  object
 3   end_time             93199 non-null  object
 4   start_station        93199 non-null  int64
 5   start_lat            93199 non-null  float64
 6   start_lon            93199 non-null  float64
 7   end_station          93199 non-null  int64
 8   end_lat              93199 non-null  float64
 9   end_lon              93199 non-null  float64
 10  bike_id              93199 non-null  int64
 11  plan_duration        93199 non-null  int64
 12  trip_route_category  93199 non-null  object
 13  passholder_type      93199 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 10.7+ MB

In [155]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [156]:
df_position_isnull = df_position.isnull()

In [157]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [158]:
df_clean = df_without_3000.drop(index_station_without_position)

In [159]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
dtype: bool

In [160]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2018-07-01 00:04:00'

In [161]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [162]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [163]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,94851140,8,07/01/2018 00:04,07/01/2018 00:12,3058,34.035801,-118.233170,3082,34.046520,-118.237411,6279,30,One Way,Monthly Pass
1,94851141,8,07/01/2018 00:04,07/01/2018 00:12,3058,34.035801,-118.233170,3082,34.046520,-118.237411,6518,365,One Way,Flex Pass
2,94851138,15,07/01/2018 00:09,07/01/2018 00:24,4147,34.145248,-118.150070,4174,34.165291,-118.150970,4823,365,One Way,Monthly Pass
3,94851137,7,07/01/2018 00:22,07/01/2018 00:29,4157,34.140999,-118.132088,4162,34.147499,-118.148010,6115,30,One Way,Monthly Pass
4,94851136,35,07/01/2018 00:23,07/01/2018 00:58,3013,33.779819,-118.263023,3013,33.779819,-118.263023,12055,1,Round Trip,Walk-up

In [164]:
df_clean.to_csv(output_filepath, index=False)

## process 2018 q4

In [165]:
year_q = (18, 4)

In [166]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2018-q4.csv'

In [167]:
df = pd.read_csv(raw_filepath)

In [168]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,106412136,3,2018-10-01 00:15:00,2018-10-01 00:18:00,3074,34.044170,-118.261169,3005,34.048500,-118.258537,12138,30,One Way,Monthly Pass,standard
1,106412364,5,2018-10-01 00:19:00,2018-10-01 00:24:00,3005,34.048500,-118.258537,3052,34.051102,-118.264557,12269,30,One Way,Monthly Pass,standard
2,106413729,34,2018-10-01 00:19:00,2018-10-01 00:53:00,3042,34.049301,-118.238808,3042,34.049301,-118.238808,12446,1,Round Trip,Walk-up,standard
3,106413727,33,2018-10-01 00:20:00,2018-10-01 00:53:00,3042,34.049301,-118.238808,3042,34.049301,-118.238808,12074,1,Round Trip,Walk-up,standard
4,106430682,412,2018-10-01 00:20:00,2018-10-01 07:12:00,3042,34.049301,-118.238808,3042,34.049301,-118.238808,6165,1,Round Trip,Walk-up,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73862,112536055,9,2018-12-31 23:46:00,2018-12-31 23:55:00,3069,34.050880,-118.248253,3069,34.050880,-118.248253,6222,1,Round Trip,Walk-up,standard
73863,112536054,7,2018-12-31 23:47:00,2018-12-31 23:54:00,3069,34.050880,-118.248253,3069,34.050880,-118.248253,5730,1,Round Trip,Walk-up,standard
73864,112540414,97,2018-12-31 23:51:00,2019-01-01 01:28:00,4211,33.984928,-118.469963,4210,33.984341,-118.471550,12347,1,One Way,Walk-up,standard
73865,112537256,28,2018-12-31 23:54:00,2019-01-01 00:22:00,3005,34.048500,-118.258537,3082,34.046520,-118.237411,12128,1,One Way,Walk-up,standard
73866,112537255,26,2018-12-31 23:56:00,2019-01-01 00:22:00,3005,34.048500,-118.258537,3082,34.046520,-118.237411,12017,1,One Way,Walk-up,standard

In [169]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [170]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [171]:
df_without_3000 = df.drop(index3000)

In [172]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72763 entries, 0 to 73866
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              72763 non-null  int64
 1   duration             72763 non-null  int64
 2   start_time           72763 non-null  object
 3   end_time             72763 non-null  object
 4   start_station        72763 non-null  int64
 5   start_lat            72763 non-null  float64
 6   start_lon            72763 non-null  float64
 7   end_station          72763 non-null  int64
 8   end_lat              72763 non-null  float64
 9   end_lon              72763 non-null  float64
 10  bike_id              72763 non-null  int64
 11  plan_duration        72763 non-null  int64
 12  trip_route_category  72763 non-null  object
 13  passholder_type      72763 non-null  object
 14  bike_type            72763 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 8.9+ MB

In [173]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [174]:
df_position_isnull = df_position.isnull()

In [175]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [176]:
df_clean = df_without_3000.drop(index_station_without_position)

In [177]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [178]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2018-10-01 00:15:00'

In [179]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [180]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [181]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,106412136,3,10/01/2018 00:15,10/01/2018 00:18,3074,34.044170,-118.261169,3005,34.048500,-118.258537,12138,30,One Way,Monthly Pass,standard
1,106412364,5,10/01/2018 00:19,10/01/2018 00:24,3005,34.048500,-118.258537,3052,34.051102,-118.264557,12269,30,One Way,Monthly Pass,standard
2,106413729,34,10/01/2018 00:19,10/01/2018 00:53,3042,34.049301,-118.238808,3042,34.049301,-118.238808,12446,1,Round Trip,Walk-up,standard
3,106413727,33,10/01/2018 00:20,10/01/2018 00:53,3042,34.049301,-118.238808,3042,34.049301,-118.238808,12074,1,Round Trip,Walk-up,standard
4,106430682,412,10/01/2018 00:20,10/01/2018 07:12,3042,34.049301,-118.238808,3042,34.049301,-118.238808,6165,1,Round Trip,Walk-up,standard

In [182]:
df_clean.to_csv(output_filepath, index=False)

## process 2019 q1

In [183]:
year_q = (19, 1)

In [184]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2019-q1.csv'

In [185]:
df = pd.read_csv(raw_filepath)

In [186]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,112536773,7,2019-01-01 00:07:00,2019-01-01 00:14:00,3046,34.052872,-118.247490,3051,34.045422,-118.253517,06468,1,One Way,Walk-up,standard
1,112536772,6,2019-01-01 00:08:00,2019-01-01 00:14:00,3046,34.052872,-118.247490,3051,34.045422,-118.253517,12311,1,One Way,Walk-up,standard
2,112538689,32,2019-01-01 00:18:00,2019-01-01 00:50:00,3030,34.051941,-118.243530,3075,34.042110,-118.256187,05992,1,One Way,Walk-up,standard
3,112538688,30,2019-01-01 00:20:00,2019-01-01 00:50:00,3030,34.051941,-118.243530,3075,34.042110,-118.256187,05860,1,One Way,Walk-up,standard
4,112538687,28,2019-01-01 00:22:00,2019-01-01 00:50:00,3030,34.051941,-118.243530,3075,34.042110,-118.256187,06006,1,One Way,Walk-up,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57353,118592974,547,2019-03-31 22:23:00,2019-04-01 07:30:00,3077,34.039871,-118.250038,3010,34.037048,-118.254868,05885,1,One Way,Walk-up,standard
57354,118571367,20,2019-03-31 22:41:00,2019-03-31 23:01:00,3038,34.046822,-118.248352,3051,34.045422,-118.253517,12059,30,One Way,Monthly Pass,standard
57355,118571366,12,2019-03-31 23:02:00,2019-03-31 23:14:00,3051,34.045422,-118.253517,3047,34.039982,-118.266403,12059,30,One Way,Monthly Pass,standard
57356,118571365,18,2019-03-31 23:22:00,2019-03-31 23:40:00,3052,34.051102,-118.264557,3005,34.048500,-118.258537,06295,30,One Way,Monthly Pass,standard
57357,118571364,22,2019-03-31 23:36:00,2019-03-31 23:58:00,3026,34.063179,-118.245880,3047,34.039982,-118.266403,12308,1,One Way,Walk-up,standard

In [187]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [188]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [189]:
df_without_3000 = df.drop(index3000)

In [190]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56320 entries, 0 to 57357
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              56320 non-null  int64
 1   duration             56320 non-null  int64
 2   start_time           56320 non-null  object
 3   end_time             56320 non-null  object
 4   start_station        56320 non-null  int64
 5   start_lat            56010 non-null  float64
 6   start_lon            56010 non-null  float64
 7   end_station          56320 non-null  int64
 8   end_lat              55881 non-null  float64
 9   end_lon              55881 non-null  float64
 10  bike_id              56320 non-null  object
 11  plan_duration        56320 non-null  int64
 12  trip_route_category  56320 non-null  object
 13  passholder_type      56320 non-null  object
 14  bike_type            56320 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 6.9+ MB

In [191]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [192]:
df_position_isnull = df_position.isnull()

In [193]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [194]:
df_clean = df_without_3000.drop(index_station_without_position)

In [195]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [196]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2019-01-01 00:07:00'

In [197]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [198]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [199]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,112536773,7,01/01/2019 00:07,01/01/2019 00:14,3046,34.052872,-118.24749,3051,34.045422,-118.253517,06468,1,One Way,Walk-up,standard
1,112536772,6,01/01/2019 00:08,01/01/2019 00:14,3046,34.052872,-118.24749,3051,34.045422,-118.253517,12311,1,One Way,Walk-up,standard
2,112538689,32,01/01/2019 00:18,01/01/2019 00:50,3030,34.051941,-118.24353,3075,34.042110,-118.256187,05992,1,One Way,Walk-up,standard
3,112538688,30,01/01/2019 00:20,01/01/2019 00:50,3030,34.051941,-118.24353,3075,34.042110,-118.256187,05860,1,One Way,Walk-up,standard
4,112538687,28,01/01/2019 00:22,01/01/2019 00:50,3030,34.051941,-118.24353,3075,34.042110,-118.256187,06006,1,One Way,Walk-up,standard

In [200]:
df_clean.to_csv(output_filepath, index=False)

## process 2019 q2

In [201]:
year_q = (19, 2)

In [202]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2019-q2.csv'

In [203]:
df = pd.read_csv(raw_filepath)

In [204]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,118571839,7,2019-04-01 00:02:00,2019-04-01 00:09:00,3069,34.050880,-118.248253,3034,34.042061,-118.263382,6459,1,One Way,Walk-up,standard
1,118574695,12,2019-04-01 00:56:00,2019-04-01 01:08:00,3031,34.044701,-118.252441,4311,34.059689,-118.294662,12229,30,One Way,Monthly Pass,standard
2,118575167,12,2019-04-01 01:06:00,2019-04-01 01:18:00,3038,34.046822,-118.248352,3082,34.046520,-118.237411,6422,1,One Way,Walk-up,standard
3,118577060,48,2019-04-01 01:08:00,2019-04-01 01:56:00,3068,34.053200,-118.250954,3005,34.048500,-118.258537,12211,30,One Way,Monthly Pass,standard
4,118575166,9,2019-04-01 01:09:00,2019-04-01 01:18:00,3038,34.046822,-118.248352,3082,34.046520,-118.237411,12005,1,One Way,Walk-up,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64540,124656632,4,2019-06-30 23:30:00,2019-06-30 23:34:00,4405,34.051899,-118.293678,4306,34.057652,-118.292183,5887,30,One Way,Monthly Pass,standard
64541,124656631,13,2019-06-30 23:31:00,2019-06-30 23:44:00,3022,34.046070,-118.233093,3038,34.046822,-118.248352,17492,365,One Way,Annual Pass,electric
64542,124656630,3,2019-06-30 23:33:00,2019-06-30 23:36:00,4345,33.995560,-118.481552,4345,33.995560,-118.481552,15646,1,Round Trip,Walk-up,smart
64543,124656629,17,2019-06-30 23:34:00,2019-06-30 23:51:00,3016,34.052898,-118.241562,4410,34.063351,-118.296799,17493,365,One Way,Annual Pass,electric
64544,124656628,4,2019-06-30 23:36:00,2019-06-30 23:40:00,4306,34.057652,-118.292183,4410,34.063351,-118.296799,18920,30,One Way,Monthly Pass,electric

In [205]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [206]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [207]:
df_without_3000 = df.drop(index3000)

In [208]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63583 entries, 0 to 64544
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              63583 non-null  int64
 1   duration             63583 non-null  int64
 2   start_time           63583 non-null  object
 3   end_time             63583 non-null  object
 4   start_station        63583 non-null  int64
 5   start_lat            62621 non-null  float64
 6   start_lon            62621 non-null  float64
 7   end_station          63583 non-null  int64
 8   end_lat              61921 non-null  float64
 9   end_lon              61921 non-null  float64
 10  bike_id              63583 non-null  int64
 11  plan_duration        63583 non-null  int64
 12  trip_route_category  63583 non-null  object
 13  passholder_type      63583 non-null  object
 14  bike_type            63583 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 7.8+ MB

In [209]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [210]:
df_position_isnull = df_position.isnull()

In [211]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [212]:
df_clean = df_without_3000.drop(index_station_without_position)

In [213]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [214]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2019-04-01 00:02:00'

In [215]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [216]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [217]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,118571839,7,04/01/2019 00:02,04/01/2019 00:09,3069,34.050880,-118.248253,3034,34.042061,-118.263382,6459,1,One Way,Walk-up,standard
1,118574695,12,04/01/2019 00:56,04/01/2019 01:08,3031,34.044701,-118.252441,4311,34.059689,-118.294662,12229,30,One Way,Monthly Pass,standard
2,118575167,12,04/01/2019 01:06,04/01/2019 01:18,3038,34.046822,-118.248352,3082,34.046520,-118.237411,6422,1,One Way,Walk-up,standard
3,118577060,48,04/01/2019 01:08,04/01/2019 01:56,3068,34.053200,-118.250954,3005,34.048500,-118.258537,12211,30,One Way,Monthly Pass,standard
4,118575166,9,04/01/2019 01:09,04/01/2019 01:18,3038,34.046822,-118.248352,3082,34.046520,-118.237411,12005,1,One Way,Walk-up,standard

In [218]:
df_clean.to_csv(output_filepath, index=False)

## process 2019 q3

In [219]:
year_q = (19, 3)

In [220]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2019-q3.csv'

In [221]:
df = pd.read_csv(raw_filepath)

/Users/markduan/opt/anaconda3/envs/mypy37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [222]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,124657107,5,7/1/2019 0:04,7/1/2019 0:09,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard
1,124657587,9,7/1/2019 0:07,7/1/2019 0:16,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric
2,124658068,5,7/1/2019 0:20,7/1/2019 0:25,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric
3,124659747,20,7/1/2019 0:44,7/1/2019 1:04,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard
4,124660227,27,7/1/2019 0:44,7/1/2019 1:11,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92119,130053092,8,9/30/2019 23:32,9/30/2019 23:40,3038,34.046822,-118.248352,3078,34.064281,-118.238937,19655,1,One Way,Walk-up,electric
92120,130053090,15,9/30/2019 23:38,9/30/2019 23:53,4401,34.075611,-118.291862,4401,34.075611,-118.291862,18984,30,Round Trip,Monthly Pass,electric
92121,130053089,1,9/30/2019 23:40,9/30/2019 23:41,3038,34.046822,-118.248352,3067,34.045181,-118.250237,12361,365,One Way,Annual Pass,standard
92122,130053088,22,9/30/2019 23:41,10/1/2019 0:03,3067,34.045181,-118.250237,3049,34.056969,-118.253593,16580,365,One Way,Annual Pass,electric
92123,130053087,4,9/30/2019 23:58,10/1/2019 0:02,4417,34.164951,-118.363632,4285,NaN,NaN,15727,365,One Way,Walk-up,smart

In [223]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [224]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [225]:
df_without_3000 = df.drop(index3000)

In [226]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90677 entries, 0 to 92123
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              90677 non-null  int64
 1   duration             90677 non-null  int64
 2   start_time           90677 non-null  object
 3   end_time             90677 non-null  object
 4   start_station        90677 non-null  int64
 5   start_lat            88713 non-null  float64
 6   start_lon            88713 non-null  float64
 7   end_station          90677 non-null  int64
 8   end_lat              87948 non-null  float64
 9   end_lon              87948 non-null  float64
 10  bike_id              90677 non-null  object
 11  plan_duration        90677 non-null  int64
 12  trip_route_category  90677 non-null  object
 13  passholder_type      90677 non-null  object
 14  bike_type            90677 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 11.1+ MB

In [227]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [228]:
df_position_isnull = df_position.isnull()

In [229]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [230]:
df_clean = df_without_3000.drop(index_station_without_position)

In [231]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [232]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'7/1/2019 0:04'

In [233]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

False

In [234]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [235]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,124657107,5,7/1/2019 0:04,7/1/2019 0:09,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard
1,124657587,9,7/1/2019 0:07,7/1/2019 0:16,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric
2,124658068,5,7/1/2019 0:20,7/1/2019 0:25,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric
3,124659747,20,7/1/2019 0:44,7/1/2019 1:04,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard
4,124660227,27,7/1/2019 0:44,7/1/2019 1:11,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard

In [236]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86760 entries, 0 to 92122
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              86760 non-null  int64
 1   duration             86760 non-null  int64
 2   start_time           86760 non-null  object
 3   end_time             86760 non-null  object
 4   start_station        86760 non-null  int64
 5   start_lat            86760 non-null  float64
 6   start_lon            86760 non-null  float64
 7   end_station          86760 non-null  int64
 8   end_lat              86760 non-null  float64
 9   end_lon              86760 non-null  float64
 10  bike_id              86760 non-null  object
 11  plan_duration        86760 non-null  int64
 12  trip_route_category  86760 non-null  object
 13  passholder_type      86760 non-null  object
 14  bike_type            86760 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 10.6+ MB

In [237]:
df_clean.to_csv(output_filepath, index=False)

## process 2019 q4

In [238]:
year_q = (19, 4)

In [239]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2019-q4.csv'

In [240]:
df = pd.read_csv(raw_filepath)

In [241]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,130053086,25,2019-10-01 00:03:10,2019-10-01 00:28:40,3049,34.056969,-118.253593,3038,34.046822,-118.248352,16580,365,One Way,Annual Pass,electric
1,130053085,2,2019-10-01 00:07:43,2019-10-01 00:09:44,3067,34.045181,-118.250237,3029,34.048851,-118.246422,19587,30,One Way,Monthly Pass,electric
2,130053084,15,2019-10-01 00:17:30,2019-10-01 00:32:01,4420,34.168629,-118.377068,4416,34.157581,-118.388260,15625,30,One Way,Monthly Pass,smart
3,130053083,4,2019-10-01 00:18:20,2019-10-01 00:22:34,3031,34.044701,-118.252441,3006,34.045540,-118.256668,12450,365,One Way,Annual Pass,standard
4,130053082,20,2019-10-01 00:22:09,2019-10-01 00:42:53,3042,34.049301,-118.238808,4314,34.057709,-118.279762,17519,365,One Way,Annual Pass,electric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76310,134982544,1440,2019-12-31 23:35:51,2020-01-02 17:13:50,4491,34.047440,-118.247940,4491,34.047440,-118.247940,5903,30,Round Trip,Monthly Pass,standard
76311,134866394,9,2019-12-31 23:41:52,2019-12-31 23:50:58,4491,34.047440,-118.247940,3022,34.046070,-118.233093,18912,30,One Way,Monthly Pass,electric
76312,134866292,4,2019-12-31 23:43:19,2019-12-31 23:47:41,3051,34.045422,-118.253517,3064,34.046810,-118.256981,12298,365,One Way,Annual Pass,standard
76313,134866392,5,2019-12-31 23:48:17,2019-12-31 23:53:55,3064,34.046810,-118.256981,3074,34.044170,-118.261169,19053,365,One Way,Annual Pass,electric
76314,134867192,27,2019-12-31 23:58:52,2020-01-01 00:25:27,3074,34.044170,-118.261169,3049,34.056969,-118.253593,19053,365,One Way,Annual Pass,electric

In [242]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [243]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [244]:
df_without_3000 = df.drop(index3000)

In [245]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75098 entries, 0 to 76314
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              75098 non-null  int64
 1   duration             75098 non-null  int64
 2   start_time           75098 non-null  object
 3   end_time             75098 non-null  object
 4   start_station        75098 non-null  int64
 5   start_lat            74073 non-null  float64
 6   start_lon            74073 non-null  float64
 7   end_station          75098 non-null  int64
 8   end_lat              73737 non-null  float64
 9   end_lon              73737 non-null  float64
 10  bike_id              75098 non-null  int64
 11  plan_duration        75098 non-null  int64
 12  trip_route_category  75098 non-null  object
 13  passholder_type      75098 non-null  object
 14  bike_type            75098 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 9.2+ MB

In [246]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [247]:
df_position_isnull = df_position.isnull()

In [248]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [249]:
df_clean = df_without_3000.drop(index_station_without_position)

In [250]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [251]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'2019-10-01 00:03:10'

In [252]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

True

In [253]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [254]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,130053086,25,10/01/2019 00:03,10/01/2019 00:28,3049,34.056969,-118.253593,3038,34.046822,-118.248352,16580,365,One Way,Annual Pass,electric
1,130053085,2,10/01/2019 00:07,10/01/2019 00:09,3067,34.045181,-118.250237,3029,34.048851,-118.246422,19587,30,One Way,Monthly Pass,electric
2,130053084,15,10/01/2019 00:17,10/01/2019 00:32,4420,34.168629,-118.377068,4416,34.157581,-118.388260,15625,30,One Way,Monthly Pass,smart
3,130053083,4,10/01/2019 00:18,10/01/2019 00:22,3031,34.044701,-118.252441,3006,34.045540,-118.256668,12450,365,One Way,Annual Pass,standard
4,130053082,20,10/01/2019 00:22,10/01/2019 00:42,3042,34.049301,-118.238808,4314,34.057709,-118.279762,17519,365,One Way,Annual Pass,electric

In [255]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73074 entries, 0 to 76314
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              73074 non-null  int64
 1   duration             73074 non-null  int64
 2   start_time           73074 non-null  object
 3   end_time             73074 non-null  object
 4   start_station        73074 non-null  int64
 5   start_lat            73074 non-null  float64
 6   start_lon            73074 non-null  float64
 7   end_station          73074 non-null  int64
 8   end_lat              73074 non-null  float64
 9   end_lon              73074 non-null  float64
 10  bike_id              73074 non-null  int64
 11  plan_duration        73074 non-null  int64
 12  trip_route_category  73074 non-null  object
 13  passholder_type      73074 non-null  object
 14  bike_type            73074 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 8.9+ MB

In [256]:
df_clean.to_csv(output_filepath, index=False)

## process 2020 q1

In [257]:
year_q = (20, 1)

In [258]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2020-q1.csv'

In [259]:
df = pd.read_csv(raw_filepath)

In [260]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,134867493,25,1/1/2020 0:16,1/1/2020 0:41,3063,34.048038,-118.253738,4491,34.047440,-118.247940,18419,30,One Way,Monthly Pass,electric
1,134867799,35,1/1/2020 0:24,1/1/2020 0:59,4285,NaN,NaN,4354,34.017681,-118.409081,15661,1,One Way,One Day Pass,smart
2,134868104,37,1/1/2020 0:31,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15848,1,One Way,Walk-up,smart
3,134868103,36,1/1/2020 0:32,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,16053,1,One Way,Walk-up,smart
4,134868102,35,1/1/2020 0:33,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15694,1,One Way,Walk-up,smart
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76386,140275195,65,3/31/2020 22:48,3/31/2020 23:53,4460,33.994850,-118.417961,4460,33.994850,-118.417961,15300,30,Round Trip,Monthly Pass,smart
76387,140274593,23,3/31/2020 23:00,3/31/2020 23:23,3076,34.040600,-118.253838,3031,34.044701,-118.252441,16811,30,One Way,Monthly Pass,electric
76388,140274893,14,3/31/2020 23:23,3/31/2020 23:37,3031,34.044701,-118.252441,3076,34.040600,-118.253838,16811,30,One Way,Monthly Pass,electric
76389,140275293,21,3/31/2020 23:37,3/31/2020 23:58,3076,34.040600,-118.253838,3056,34.037460,-118.265381,16811,30,One Way,Monthly Pass,electric
76390,140275894,23,3/31/2020 23:59,4/1/2020 0:22,3056,34.037460,-118.265381,3076,34.040600,-118.253838,18942,30,One Way,Monthly Pass,electric

In [261]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [262]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [263]:
df_without_3000 = df.drop(index3000)

In [264]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75178 entries, 0 to 76390
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              75178 non-null  int64
 1   duration             75178 non-null  int64
 2   start_time           75178 non-null  object
 3   end_time             75178 non-null  object
 4   start_station        75178 non-null  int64
 5   start_lat            74159 non-null  float64
 6   start_lon            74159 non-null  float64
 7   end_station          75178 non-null  int64
 8   end_lat              73583 non-null  float64
 9   end_lon              73583 non-null  float64
 10  bike_id              75178 non-null  int64
 11  plan_duration        75178 non-null  int64
 12  trip_route_category  75178 non-null  object
 13  passholder_type      75178 non-null  object
 14  bike_type            75178 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 9.2+ MB

In [265]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [266]:
df_position_isnull = df_position.isnull()

In [267]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [268]:
df_clean = df_without_3000.drop(index_station_without_position)

In [269]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [270]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'1/1/2020 0:16'

In [271]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

False

In [272]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [273]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,134867493,25,1/1/2020 0:16,1/1/2020 0:41,3063,34.048038,-118.253738,4491,34.047440,-118.247940,18419,30,One Way,Monthly Pass,electric
2,134868104,37,1/1/2020 0:31,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15848,1,One Way,Walk-up,smart
3,134868103,36,1/1/2020 0:32,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,16053,1,One Way,Walk-up,smart
4,134868102,35,1/1/2020 0:33,1/1/2020 1:08,4344,34.014309,-118.491341,4322,34.005871,-118.429161,15694,1,One Way,Walk-up,smart
5,134867697,18,1/1/2020 0:35,1/1/2020 0:53,4472,34.092602,-118.280930,4306,34.057652,-118.292183,18937,1,One Way,One Day Pass,electric

In [274]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72955 entries, 0 to 76390
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              72955 non-null  int64
 1   duration             72955 non-null  int64
 2   start_time           72955 non-null  object
 3   end_time             72955 non-null  object
 4   start_station        72955 non-null  int64
 5   start_lat            72955 non-null  float64
 6   start_lon            72955 non-null  float64
 7   end_station          72955 non-null  int64
 8   end_lat              72955 non-null  float64
 9   end_lon              72955 non-null  float64
 10  bike_id              72955 non-null  int64
 11  plan_duration        72955 non-null  int64
 12  trip_route_category  72955 non-null  object
 13  passholder_type      72955 non-null  object
 14  bike_type            72955 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 8.9+ MB

In [275]:
df_clean.to_csv(output_filepath, index=False)

## process 2020 q2

In [276]:
year_q = (20, 2)

In [277]:
raw_filepath = "./rawdata/metro-bike-20%s-q%d.csv" % year_q
output_filepath = "./processed_data/metro-bike-20%s-q%d.csv" % year_q
raw_filepath

'./rawdata/metro-bike-2020-q2.csv'

In [278]:
df = pd.read_csv(raw_filepath)

In [279]:
df

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,140275793,14,4/1/2020 0:05,4/1/2020 0:19,4491,34.047440,-118.247940,4491,34.047440,-118.247940,19544,30,Round Trip,Monthly Pass,electric
1,140275993,9,4/1/2020 0:19,4/1/2020 0:28,4491,34.047440,-118.247940,4491,34.047440,-118.247940,19544,30,Round Trip,Monthly Pass,electric
2,140276293,18,4/1/2020 0:22,4/1/2020 0:40,3076,34.040600,-118.253838,3076,34.040600,-118.253838,18942,30,Round Trip,Monthly Pass,electric
3,140276793,20,4/1/2020 0:41,4/1/2020 1:01,3076,34.040600,-118.253838,3076,34.040600,-118.253838,18942,30,Round Trip,Monthly Pass,electric
4,140277293,25,4/1/2020 1:02,4/1/2020 1:27,3076,34.040600,-118.253838,3033,34.040989,-118.255798,18942,30,One Way,Monthly Pass,electric
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54197,144268718,8,6/30/2020 22:36,6/30/2020 22:43,4406,34.101891,-118.300613,4438,34.094929,-118.284561,6728,365,One Way,Annual Pass,standard
54198,144268717,12,6/30/2020 22:38,6/30/2020 22:50,3064,34.046810,-118.256981,3008,34.046612,-118.262733,16790,30,One Way,Monthly Pass,electric
54199,144268716,9,6/30/2020 22:50,6/30/2020 22:59,4410,34.063351,-118.296799,4410,34.063351,-118.296799,17027,365,Round Trip,Annual Pass,electric
54200,144270317,50,6/30/2020 23:16,7/1/2020 0:06,4482,34.094372,-118.331009,4482,34.094372,-118.331009,17722,1,Round Trip,One Day Pass,electric
54201,144269716,5,6/30/2020 23:37,6/30/2020 23:42,3030,34.051941,-118.243530,3067,34.045181,-118.250237,5846,1,One Way,Walk-up,standard

In [280]:
# df = df.rename(columns = {'start_station_id': 'start_station', 'end_station_id': 'end_station'})
# df.columns

In [281]:
s1 = df.start_station == 3000
s2 = df.end_station == 3000
index3000 = df[s1 | s2].index

In [282]:
df_without_3000 = df.drop(index3000)

In [283]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12434 entries, 0 to 54201
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              12434 non-null  int64
 1   duration             12434 non-null  int64
 2   start_time           12434 non-null  object
 3   end_time             12434 non-null  object
 4   start_station        12434 non-null  int64
 5   start_lat            12004 non-null  float64
 6   start_lon            12004 non-null  float64
 7   end_station          12434 non-null  int64
 8   end_lat              11893 non-null  float64
 9   end_lon              11893 non-null  float64
 10  bike_id              12434 non-null  int64
 11  plan_duration        12434 non-null  int64
 12  trip_route_category  12434 non-null  object
 13  passholder_type      12434 non-null  object
 14  bike_type            12434 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 1.5+ MB

In [284]:
df_position = df_without_3000[["start_lat", "start_lon", "end_lat", "end_lon"]]

In [285]:
df_position_isnull = df_position.isnull()

In [286]:
index_station_without_position = df_position_isnull[df_position_isnull.any(axis=1)].index

In [287]:
df_clean = df_without_3000.drop(index_station_without_position)

In [288]:
dpu.df_has_nan(df_clean)

trip_id                False
duration               False
start_time             False
end_time               False
start_station          False
start_lat              False
start_lon              False
end_station            False
end_lat                False
end_lon                False
bike_id                False
plan_duration          False
trip_route_category    False
passholder_type        False
bike_type              False
dtype: bool

In [289]:
time_need_check = list(df_clean.start_time)[0]
time_need_check

'4/1/2020 0:05'

In [290]:
time_format_need_change = dpu.is_time_format(time_need_check, t_format_check)
time_format_need_change

False

In [291]:
if time_format_need_change:
    df_clean[["start_time", "end_time"]] = df_clean[["start_time", "end_time"]].applymap(lambda ts: dpu.change_time_format(ts, t_format_check, t_format_output))

In [292]:
df_clean.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,140275793,14,4/1/2020 0:05,4/1/2020 0:19,4491,34.04744,-118.247940,4491,34.047440,-118.247940,19544,30,Round Trip,Monthly Pass,electric
1,140275993,9,4/1/2020 0:19,4/1/2020 0:28,4491,34.04744,-118.247940,4491,34.047440,-118.247940,19544,30,Round Trip,Monthly Pass,electric
2,140276293,18,4/1/2020 0:22,4/1/2020 0:40,3076,34.04060,-118.253838,3076,34.040600,-118.253838,18942,30,Round Trip,Monthly Pass,electric
3,140276793,20,4/1/2020 0:41,4/1/2020 1:01,3076,34.04060,-118.253838,3076,34.040600,-118.253838,18942,30,Round Trip,Monthly Pass,electric
4,140277293,25,4/1/2020 1:02,4/1/2020 1:27,3076,34.04060,-118.253838,3033,34.040989,-118.255798,18942,30,One Way,Monthly Pass,electric

In [293]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11695 entries, 0 to 54201
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              11695 non-null  int64
 1   duration             11695 non-null  int64
 2   start_time           11695 non-null  object
 3   end_time             11695 non-null  object
 4   start_station        11695 non-null  int64
 5   start_lat            11695 non-null  float64
 6   start_lon            11695 non-null  float64
 7   end_station          11695 non-null  int64
 8   end_lat              11695 non-null  float64
 9   end_lon              11695 non-null  float64
 10  bike_id              11695 non-null  int64
 11  plan_duration        11695 non-null  int64
 12  trip_route_category  11695 non-null  object
 13  passholder_type      11695 non-null  object
 14  bike_type            11695 non-null  object
dtypes: float64(4), int64(6), object(5)
memory usage: 1.4+ MB

In [294]:
df_clean.to_csv(output_filepath, index=False)

## process bike station

In [249]:
year_q = (19, 3)

In [295]:
raw_filepath = "./rawdata/metro-bike-stations.csv"
output_filepath = "./processed_data/metro-bike-stations.csv"
raw_filepath

'./rawdata/metro-bike-stations.csv'

In [296]:
df = pd.read_csv(raw_filepath)

In [297]:
df

     Station_ID           Station_Name Go_live_date          Region   Status
0          3000        Virtual Station     7/7/2016              NaN  Active
1          3005           7th & Flower     7/7/2016             DTLA  Active
2          3006            Olive & 8th     7/7/2016             DTLA  Active
3          3007            5th & Grand     7/7/2016             DTLA  Active
4          3008         Figueroa & 9th     7/7/2016             DTLA  Active
..          ...                    ...          ...              ...     ...
287        4498      Vineland & Oxnard    4/14/2020  North Hollywood  Active
288        4524   Wilshire & Normandie    4/17/2020             DTLA  Active
289        4523          Western & 3rd    4/22/2020             DTLA  Active
290        4502  North Hollywood Plaza    4/23/2020  North Hollywood  Active
291        4512        Figueroa & 11th    5/12/2020             DTLA  Active

[292 rows x 5 columns]

In [298]:
s1 = df.Station_ID == 3000
index3000 = df[s1].index

In [299]:
df_without_3000 = df.drop(index3000)

In [300]:
df_without_3000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 291 entries, 1 to 291
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Station_ID    291 non-null    int64
 1   Station_Name  291 non-null    object
 2   Go_live_date  291 non-null    object
 3   Region        291 non-null    object
 4   Status        291 non-null    object
dtypes: int64(1), object(4)
memory usage: 13.6+ KB

In [301]:
dpu.df_has_nan(df_without_3000)

Station_ID      False
Station_Name    False
Go_live_date    False
Region          False
Status          False
dtype: bool

In [302]:
df_without_3000.to_csv(output_filepath, index=False)