In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dir_name = 'processed_data'

In [3]:
file_list = os.listdir(dir_name)

In [4]:
file_list.sort()

In [5]:
file_list

['.DS_Store',
 'metro-bike-2016-q3.csv',
 'metro-bike-2016-q4.csv',
 'metro-bike-2017-q1.csv',
 'metro-bike-2017-q2.csv',
 'metro-bike-2017-q3.csv',
 'metro-bike-2017-q4.csv',
 'metro-bike-2018-q1.csv',
 'metro-bike-2018-q2.csv',
 'metro-bike-2018-q3.csv',
 'metro-bike-2018-q4.csv',
 'metro-bike-2019-q1.csv',
 'metro-bike-2019-q2.csv',
 'metro-bike-2019-q3.csv',
 'metro-bike-2019-q4.csv',
 'metro-bike-2020-q1.csv',
 'metro-bike-2020-q2.csv',
 'metro-bike-stations.csv']

In [6]:
def getStationData(fp):
    df_location_collection = pd.read_csv(fp)
    df_start_station = df_location_collection[["start_station", "start_lat", "start_lon"]]
    df_start_station.columns = ['station', 'lat', 'lon']
    df_end_station = df_location_collection[["end_station", "end_lat", "end_lon"]]
    df_end_station.columns = ['station', 'lat', 'lon']
    pd_replicate_station = pd.concat([df_start_station, df_end_station])
    return pd_replicate_station

In [7]:
stations = {}
for f in file_list:
    if f[11:13] == "20":
        print('processing', f)
        file_pth = os.path.join(dir_name, f)
        station_df = getStationData(file_pth)
        
        for r in station_df.iterrows():
            stations[int(r[1]['station'])] = [r[1]['lat'], r[1]['lon']]

processing metro-bike-2016-q3.csv
processing metro-bike-2016-q4.csv
processing metro-bike-2017-q1.csv
processing metro-bike-2017-q2.csv
processing metro-bike-2017-q3.csv
processing metro-bike-2017-q4.csv
processing metro-bike-2018-q1.csv
processing metro-bike-2018-q2.csv
processing metro-bike-2018-q3.csv
processing metro-bike-2018-q4.csv
processing metro-bike-2019-q1.csv
processing metro-bike-2019-q2.csv
processing metro-bike-2019-q3.csv
processing metro-bike-2019-q4.csv
processing metro-bike-2020-q1.csv
processing metro-bike-2020-q2.csv

In [8]:
len(stations)

300

In [9]:
stations_l = []
for sid in stations.keys():
    stations_l.append([sid, stations[sid][0], stations[sid][1]])

In [10]:
stations_l

[[3014, 34.05661, -118.23721299999998],
 [3016, 34.052898, -118.24156200000002],
 [3032, 34.049889, -118.255882],
 [3021, 34.0456085, -118.23703],
 [3022, 34.04607, -118.233093],
 [3076, 34.0406, -118.253838],
 [3031, 34.044701, -118.252441],
 [3063, 34.048038, -118.25373799999998],
 [3042, 34.049301, -118.238808],
 [3018, 34.043732, -118.260139],
 [3054, 34.039219, -118.236488],
 [3006, 34.04554, -118.256668],
 [3037, 34.034801, -118.231277],
 [3034, 34.042061, -118.263382],
 [3005, 34.0485, -118.25853700000002],
 [3047, 34.039982, -118.266403],
 [3040, 34.05357, -118.266357],
 [3066, 34.063389, -118.23616],
 [3033, 34.040989, -118.255798],
 [3030, 34.051941, -118.24353],
 [3051, 34.045421999999995, -118.253517],
 [3019, 34.038609, -118.260857],
 [3055, 34.044159, -118.251579],
 [3065, 34.060558, -118.238327],
 [3068, 34.0532, -118.250954],
 [3007, 34.05048, -118.254593],
 [3052, 34.051102, -118.264557],
 [3049, 34.056969, -118.253593],
 [3075, 34.04211, -118.256187],
 [3067, 34.045181, -118.250237],
 [3020, 34.031052, -118.26709],
 [3035, 34.048401, -118.260948],
 [3062, 34.047749, -118.243172],
 [3058, 34.035801, -118.23317],
 [3045, 34.028511, -118.256668],
 [3080, 34.034209999999995, -118.254593],
 [3038, 34.046822, -118.248352],
 [3053, 34.0400391, -118.26302],
 [3069, 34.05088, -118.248253],
 [3036, 34.039188, -118.232529],
 [3079, 34.05014, -118.233192],
 [4108, 34.025890000000004, -118.238243],
 [3060, 34.034882, -118.25769],
 [3008, 34.046612, -118.262733],
 [3056, 34.03746, -118.265381],
 [3029, 34.048851, -118.246422],
 [3028, 34.058319, -118.246094],
 [3023, 34.050911, -118.240967],
 [3025, 34.03286, -118.268082],
 [3074, 34.04417, -118.261169],
 [3057, 34.035678999999995, -118.270813],
 [3027, 34.04998, -118.24716200000002],
 [3026, 34.063179, -118.24588],
 [3078, 34.064281, -118.238937],
 [3077, 34.039871000000005, -118.250038],
 [3059, 34.037949, -118.256271],
 [3010, 34.037048, -118.254868],
 [3064, 34.04681, -118.256981],
 [3046, 34.052872, -118.24748999999998],
 [3011, 34.041129999999995, -118.267982],
 [3048, 34.041691, -118.235352],
 [3081, 34.031890999999995, -118.250183],
 [3024, 34.05772, -118.24897],
 [3082, 34.04652, -118.237411],
 [3009, 33.987381, -118.472832],
 [3039, 34.025959, 118.238258],
 [4155, 34.147812, -118.132217],
 [4156, 34.14991, -118.13839],
 [4176, 34.13785900000001, -118.122414],
 [4150, 34.154270000000004, -118.142151],
 [4177, 34.144981, -118.13826],
 [4151, 34.142361, -118.14151],
 [4169, 34.146961, -118.139839],
 [4148, 34.14967, -118.145111],
 [4170, 34.160709000000004, -118.132401],
 [4162, 34.147499, -118.14801],
 [4143, 34.145748, -118.144287],
 [4142, 34.144588, -118.144592],
 [3061, 34.04472, -118.266243],
 [4163, 34.150471, -118.132019],
 [4157, 34.140999, -118.13208799999998],
 [4183, 34.146069, -118.129181],
 [4181, 34.146221000000004, -118.135262],
 [4138, 34.145691, -118.148239],
 [4165, 34.14175, -118.14906299999998],
 [4144, 34.142399, -118.132652],
 [4159, 34.145901, -118.116539],
 [4146, 34.147831, -118.145042],
 [4160, 34.133011, -118.14856],
 [4167, 34.143822, -118.154099],
 [4147, 34.145247999999995, -118.15007],
 [4149, 34.13821, -118.147079],
 [4153, 34.156181, -118.166687],
 [4158, 34.13525, -118.13237],
 [4154, 34.15612, -118.151192],
 [4152, 34.149712, -118.160172],
 [4174, 34.165291, -118.15097],
 [4166, 34.145908, -118.12175],
 [4125, 33.766659000000004, -118.261017],
 [4136, 33.771759, -118.276543],
 [4134, 33.74136, -118.278069],
 [4129, 33.725819, -118.28051],
 [4132, 33.74913, -118.280182],
 [4133, 33.733521, -118.277786],
 [4126, 33.710978999999995, -118.284668],
 [4127, 33.74892, -118.275192],
 [4130, 33.719261, -118.282722],
 [4180, 34.137951, -118.128502],
 [4194, 34.056702, -118.231392],
 [4131, 33.738979, -118.279266],
 [4135, 33.772301, -118.268044],
 [3013, 33.779819, -118.263023],
 [4205, 33.993771, -118.453667],
 [4212, 33.988129, -118.471741],
 [4208, 33.99868, -118.472977],
 [4206, 33.998341, -118.461014],
 [4207, 34.000881, -118.46891],
 [4214, 33.99556, -118.481552],
 [4216, 34.023392, -118.479637],
 [4210, 33.984341, -118.47155],
 [4215, 34.014309000000004, -118.491341],
 [4209, 33.996239, -118.477448],
 [4211, 33.984928000000004, -118.469963],
 [4202, 33.991161, -118.468292],
 [4204, 33.988419, -118.45163],
 [4213, 33.995369000000004, -118.464798],
 [4118, 34.026112, -118.238319],
 [4110, 34.043869, -118.25763700000002],
 [4220, 34.074829, -118.258728],
 [4227, 34.0298, -118.270309],
 [4244, 34.018059, -118.286728],
 [4254, 34.028679, -118.284111],
 [4249, 34.020302, -118.281181],
 [4248, 34.028351, -118.288673],
 [4246, 34.023708, -118.279167],
 [4250, 34.03017, -118.280952],
 [4245, 34.02404, -118.283409],
 [4267, 34.027618, -118.280678],
 [4273, 34.025859999999994, -118.284103],
 [4266, 34.026291, -118.277687],
 [4276, 34.04739, -118.218849],
 [4275, 34.01252, -118.285896],
 [4293, 34.062279, -118.271523],
 [4304, 34.06258, -118.290092],
 [4306, 34.057652000000004, -118.292183],
 [4315, 34.054031, -118.27092],
 [4313, 34.056808000000004, -118.275002],
 [4311, 34.059689, -118.29466200000002],
 [4344, 34.014309000000004, -118.491341],
 [4346, 33.984341, -118.47155],
 [4314, 34.057709, -118.279762],
 [4352, 33.988419, -118.45163],
 [4348, 34.000881, -118.46891],
 [4342, 33.991161, -118.468292],
 [4343, 33.998321999999995, -118.460983],
 [4300, 34.04887, -118.2743],
 [4312, 34.066990000000004, -118.290878],
 [4345, 33.995579, -118.481422],
 [4353, 33.988129, -118.471741],
 [4325, 34.022518, -118.400589],
 [4354, 34.017681, -118.409081],
 [4331, 34.00351, -118.43438],
 [4324, 34.02655, -118.40846299999998],
 [4334, 34.02018, -118.40403],
 [4329, 34.029121, -118.403168],
 [4349, 33.996239, -118.477448],
 [4323, 33.99958, -118.44136],
 [4347, 33.984928000000004, -118.469963],
 [4330, 34.025688, -118.395302],
 [4335, 34.023392, -118.399223],
 [4351, 33.993728999999995, -118.45356],
 [4336, 34.022449, -118.438332],
 [4356, 34.027771, -118.38726],
 [4369, 34.024570000000004, -118.394081],
 [4357, 34.028659999999995, -118.410294],
 [4332, 34.02948, -118.410469],
 [4333, 33.997231, -118.445969],
 [4328, 34.020061, -118.422684],
 [4322, 34.005871, -118.429161],
 [4350, 33.9986, -118.472977],
 [4341, 33.9953, -118.464844],
 [4340, 34.02338, -118.479637],
 [4382, 34.030472, -118.420982],
 [4379, 34.017368, -118.420601],
 [4380, 33.982921999999995, -118.410927],
 [4373, 34.161709, -118.372849],
 [4372, 34.027882, -118.388901],
 [4378, 34.022331, -118.415771],
 [4374, 34.168751, -118.36187],
 [4387, 34.03352, -118.24183700000002],
 [4363, 34.03046, -118.389099],
 [4381, 34.00021, -118.402222],
 [4385, 34.036678, -118.425339],
 [4327, 34.172451, -118.370369],
 [4389, 34.035351, -118.434143],
 [4383, 34.009021999999995, -118.425011],
 [4390, 34.069271, -118.296593],
 [4394, 33.980789, -118.414902],
 [4395, 33.984821000000004, -118.431129],
 [4397, 34.01688, -118.428452],
 [4396, 34.02697, -118.428207],
 [4337, 33.993019, -118.414909],
 [4401, 34.075611, -118.291862],
 [4393, 34.026829, -118.393517],
 [4247, 34.033642, -118.291313],
 [4404, 34.04813, -118.271027],
 [4410, 34.063351000000004, -118.296799],
 [4408, 34.011799, -118.419441],
 [4409, 33.986511, -118.441917],
 [4400, 34.027828, -118.247139],
 [4301, 34.099049, -118.291496],
 [4303, 34.098011, -118.287071],
 [4302, 34.092490999999995, -118.291443],
 [4405, 34.051899, -118.293678],
 [4362, 34.02618, -118.238319],
 [4321, 34.0, -118.0],
 [4338, 34.01376, -118.417801],
 [4384, 33.990318, -118.412048],
 [4420, 34.168629, -118.377068],
 [4417, 34.164951, -118.363632],
 [4428, 34.161709, -118.372818],
 [4415, 34.168331, -118.396156],
 [4429, 34.168751, -118.36187],
 [4416, 34.157581, -118.38826],
 [4418, 34.150688, -118.366127],
 [4419, 34.165218, -118.355148],
 [4427, 34.162861, -118.370201],
 [4426, 34.149871999999995, -118.378891],
 [4413, 34.158321, -118.370811],
 [4422, 34.152142, -118.361954],
 [4431, 34.17765, -118.382309],
 [4430, 34.172451, -118.370369],
 [4414, 34.16835, -118.387497],
 [4425, 34.152, -118.350601],
 [4406, 34.101890999999995, -118.30061299999998],
 [4402, 34.101509, -118.33979],
 [4407, 34.101871, -118.29377],
 [4432, 34.139568, -118.362251],
 [4435, 33.738991, -118.28363],
 [4437, 34.105358, -118.28727],
 [4438, 34.094929, -118.284561],
 [4436, 34.105782, -118.291939],
 [4441, 34.026619000000004, -118.281807],
 [4440, 34.061661, -118.298241],
 [4443, 34.02166, -118.278687],
 [4442, 34.098, -118.300468],
 [4445, 34.073639, -118.251572],
 [4444, 34.061619, -118.305573],
 [4453, 34.082649, -118.284393],
 [4449, 34.04557, -118.274193],
 [4447, 34.0616, -118.28199],
 [4448, 34.03027, -118.273193],
 [4446, 34.05323, -118.278419],
 [4451, 34.103629999999995, -118.291313],
 [4452, 34.102329, -118.28746],
 [4458, 33.990971, -118.421127],
 [4461, 34.027649, -118.413559],
 [4460, 33.99485, -118.417961],
 [4463, 34.175671, -118.378967],
 [4459, 33.985611, -118.425438],
 [4462, 34.022018, -118.409378],
 [4457, 34.100109, -118.289864],
 [4470, 33.976189, -118.418419],
 [4469, 33.970242, -118.426071],
 [4480, 34.05896, -118.250587],
 [4454, 34.017899, -118.291718],
 [4456, 34.052429, -118.302017],
 [4450, 34.063492, -118.287163],
 [4482, 34.094372, -118.331009],
 [4455, 34.109359999999995, -118.271812],
 [4472, 34.092602, -118.28093],
 [4483, 34.1007, -118.259117],
 [4473, 34.07159, -118.282288],
 [4484, 33.978821, -118.407562],
 [4491, 34.04744, -118.24794],
 [4439, 34.090969, -118.286247],
 [4493, 34.090278999999995, -118.277191],
 [4490, 34.053551, -118.25583600000002],
 [4467, 34.013690999999994, -118.28315],
 [4468, 34.013741, -118.28373],
 [4494, 34.075981, -118.256012],
 [4478, 34.104240000000004, -118.273697],
 [4479, 34.031502, -118.288742],
 [4475, 34.045181, -118.243248],
 [4474, 34.110031, -118.287163],
 [4505, 33.984852000000004, -118.43164099999998],
 [4403, 33.943359, -118.248238],
 [4476, 34.08252, -118.27272],
 [4504, 33.95879, -118.44828],
 [4508, 34.017941, -118.255417],
 [4503, 33.9897, -118.448883],
 [4496, 33.97298, -118.423943],
 [4500, 34.1721, -118.361816],
 [4499, 34.186569, -118.388008],
 [4523, 34.068748, -118.30928],
 [4512, 34.043812, -118.264969],
 [4497, 34.15749, -118.39576],
 [4524, 34.06163, -118.301193],
 [4502, 34.16552, -118.375153],
 [4498, 34.17989, -118.370422]]

In [11]:
df = pd.read_csv("rawdata/metro-bike-stations.csv", na_values="N/A")

In [12]:
df_index_isnan = df[df["Region"].isnull()].index

In [13]:
df_no_nan = df.drop(df_index_isnan)

In [14]:
df_no_nan

     Station_ID           Station_Name Go_live_date           Region  Status
1          3005           7th & Flower     7/7/2016             DTLA  Active
2          3006            Olive & 8th     7/7/2016             DTLA  Active
3          3007            5th & Grand     7/7/2016             DTLA  Active
4          3008         Figueroa & 9th     7/7/2016             DTLA  Active
5          3010           11th & Maple    7/10/2016             DTLA  Active
..          ...                    ...          ...              ...     ...
287        4498      Vineland & Oxnard    4/14/2020  North Hollywood  Active
288        4524   Wilshire & Normandie    4/17/2020             DTLA  Active
289        4523          Western & 3rd    4/22/2020             DTLA  Active
290        4502  North Hollywood Plaza    4/23/2020  North Hollywood  Active
291        4512        Figueroa & 11th    5/12/2020             DTLA  Active

[291 rows x 5 columns]

In [15]:
df_st = pd.DataFrame(columns=['Station_ID', 'lan', 'lon'], data=stations_l)

In [16]:
df_st

     Station_ID        lan         lon
0          3014  34.056610 -118.237213
1          3016  34.052898 -118.241562
2          3032  34.049889 -118.255882
3          3021  34.045609 -118.237030
4          3022  34.046070 -118.233093
..          ...        ...         ...
295        4512  34.043812 -118.264969
296        4497  34.157490 -118.395760
297        4524  34.061630 -118.301193
298        4502  34.165520 -118.375153
299        4498  34.179890 -118.370422

[300 rows x 3 columns]

In [17]:
df_final = df_no_nan.merge(df_st, how="inner")

In [22]:
df_final.columns = ['station', 'station_name', 'go_live_date', 'region', 'status', 'lat', 'lon']

In [23]:
output_filepath = os.path.join(dir_name, "metro-bike-stations.csv")

In [24]:
df_final.to_csv(output_filepath, index=False)