In [1]:
import time
import copy

In [2]:
import geojson
from geojson import Feature, Point, FeatureCollection

import pandas as pd
import numpy as np

## generate basic geojson of station

In [3]:
pth_station = "../processed_data/metro-bike-stations.csv"

In [4]:
df_station = pd.read_csv(pth_station)

In [5]:
df_station = df_station.drop(columns=['status'])

In [6]:
df_station.head(5)

   station    station_name go_live_date region        lan         lon
0     3005    7th & Flower     7/7/2016   DTLA  34.048500 -118.258537
1     3006     Olive & 8th     7/7/2016   DTLA  34.045540 -118.256668
2     3007     5th & Grand     7/7/2016   DTLA  34.050480 -118.254593
3     3008  Figueroa & 9th     7/7/2016   DTLA  34.046612 -118.262733
4     3010    11th & Maple    7/10/2016   DTLA  34.037048 -118.254868

In [7]:
df_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   station       286 non-null    int64
 1   station_name  286 non-null    object
 2   go_live_date  286 non-null    object
 3   region        286 non-null    object
 4   lan           286 non-null    float64
 5   lon           286 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 13.5+ KB

In [8]:
l_origin = df_station.to_dict('records')
l_origin[0]

{'station': 3005,
 'station_name': '7th & Flower',
 'go_live_date': '7/7/2016',
 'region': 'DTLA',
 'lan': 34.0485,
 'lon': -118.25853700000002}

In [9]:
def getFeature(station):
    # (lon, lat)
    return Feature(id=station['station'], geometry=Point((station['lon'], station['lan'])), properties=station)

In [10]:
fc = FeatureCollection([getFeature(s) for s in l_origin])

In [11]:
# with open('../chart_data/station/station_basic_info.json', 'w', encoding='utf-8') as fp:
#     geojson.dump(fc, fp)

## chart data

In [12]:
list_station = copy.deepcopy(l_origin)

In [13]:
fn = "metro-bike-2016-q3.csv"

In [14]:
pth_quarter = "../processed_data/" + fn

In [15]:
df_trip = pd.read_csv(pth_quarter)

In [16]:
df_trip.head(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,1912818,3,7/7/2016 4:17,7/7/2016 4:20,3014,34.056610,-118.23721,3014,34.056610,-118.23721,6281,30,Round Trip,Monthly Pass
1,1919661,33,7/7/2016 6:00,7/7/2016 6:33,3014,34.056610,-118.23721,3014,34.056610,-118.23721,6281,30,Round Trip,Monthly Pass
2,1933383,5,7/7/2016 10:32,7/7/2016 10:37,3016,34.052898,-118.24156,3016,34.052898,-118.24156,5861,365,Round Trip,Flex Pass
3,1944197,181,7/7/2016 10:37,7/7/2016 13:38,3016,34.052898,-118.24156,3016,34.052898,-118.24156,5861,365,Round Trip,Flex Pass
4,1940317,7,7/7/2016 12:51,7/7/2016 12:58,3032,34.049889,-118.25588,3032,34.049889,-118.25588,6674,0,Round Trip,Walk-up

In [17]:
df_trip.tail(5)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
55434,8365125,14,9/30/2016 23:43,9/30/2016 23:57,3054,34.039219,-118.23649,3005,34.048550,-118.25905,6146,30,One Way,Monthly Pass
55435,8369653,14,9/30/2016 23:44,9/30/2016 23:58,3051,34.045422,-118.25352,3055,34.044159,-118.25158,6069,30,One Way,Monthly Pass
55436,8369652,17,9/30/2016 23:47,10/1/2016 0:04,3032,34.049889,-118.25588,3023,34.050911,-118.24097,5725,0,One Way,Walk-up
55437,8369651,9,9/30/2016 23:53,10/1/2016 0:02,3035,34.048401,-118.26095,3031,34.044701,-118.25244,5975,0,One Way,Walk-up
55438,8369650,8,9/30/2016 23:54,10/1/2016 0:02,3035,34.048401,-118.26095,3031,34.044701,-118.25244,6683,0,One Way,Walk-up

In [18]:
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55439 entries, 0 to 55438
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              55439 non-null  int64
 1   duration             55439 non-null  int64
 2   start_time           55439 non-null  object
 3   end_time             55439 non-null  object
 4   start_station        55439 non-null  int64
 5   start_lat            55439 non-null  float64
 6   start_lon            55439 non-null  float64
 7   end_station          55439 non-null  int64
 8   end_lat              55439 non-null  float64
 9   end_lon              55439 non-null  float64
 10  bike_id              55439 non-null  int64
 11  plan_duration        55439 non-null  int64
 12  trip_route_category  55439 non-null  object
 13  passholder_type      55439 non-null  object
dtypes: float64(4), int64(6), object(4)
memory usage: 5.9+ MB

### trip duration distribution (1 -> 121)

In [19]:
max_duration = df_trip.duration.max()
display(max_duration)
if max_duration > 120:
    max_duration = 120
max_duration

1440

120

In [20]:
l_trip = df_trip.to_dict('records')
l_trip[0]

{'trip_id': 1912818,
 'duration': 3,
 'start_time': '7/7/2016 4:17',
 'end_time': '7/7/2016 4:20',
 'start_station': 3014,
 'start_lat': 34.0566101,
 'start_lon': -118.23721,
 'end_station': 3014,
 'end_lat': 34.0566101,
 'end_lon': -118.23721,
 'bike_id': 6281,
 'plan_duration': 30,
 'trip_route_category': 'Round Trip',
 'passholder_type': 'Monthly Pass'}

In [21]:
for stt in list_station:
    dur_stat = [[i + 1, 0] for i in range(121)]
    for t in l_trip:
        if t['start_station'] == stt['station']:
            if t['duration'] > 120:
                # add at duration == 121
                dur_stat[120][1] += 1
            else:
                dur_stat[t['duration'] - 1][1] += 1
        if t['end_station'] == stt['station']:
            # in == out
            if t['end_station'] == t['start_station']:
                continue
            if t['duration'] > 120:
                dur_stat[120][1] += 1
            else:
                dur_stat[t['duration'] - 1][1] += 1
    stt['trip_duration_distribution'] = dur_stat

In [22]:
# list_station[0]['trip_duration_distribution']

### comute times (departure from the station)

In [23]:
for stt in list_station:
    # {3005: 20, 3006: 5, ...}  ==>
    # [{"station_id": 3005, "times": 20}, ...]
    dep_stat = {}
    for t in l_trip:
        if t['start_station'] == stt['station']:
            target = t['end_station']
            if dep_stat.get(target) == None:
                dep_stat[target] = 1
            else:
                dep_stat[target] += 1
    dict_stat = [{'station_id': t[0], 'times': t[1]} for t in dep_stat.items()]
    stt['times_departure'] = sorted(dict_stat, key=lambda x: x['station_id'])

In [24]:
# list_station[0]['times_departure']

### comute times (return at the station)

In [25]:
for stt in list_station:
    # {3005: 20, 3006: 5, ...}  ==>
    # [{"station_id": 3005, "times": 20}, ...]
    dep_stat = {}
    for t in l_trip:
        if t['end_station'] == stt['station']:
            target = t['start_station']
            if dep_stat.get(target) == None:
                dep_stat[target] = 1
            else:
                dep_stat[target] += 1
    dict_stat = [{'station_id': t[0], 'times': t[1]} for t in dep_stat.items()]
    stt['times_return'] = sorted(dict_stat, key=lambda x: x['station_id'])

In [26]:
# list_station[0]['times_return']

### station busy

In [27]:
time_format = '%m/%d/%Y %H:%M'

In [28]:
for stt in list_station:
    # {0: 20, 1: 5, ...}  ==>
    # [{"hour": 0, "times": 20}, ...]
    busy_stat = {i: 0 for i in range(24)}
    for t in l_trip:
        if t['start_station'] == stt['station']:
            start_hour = time.strptime(t['start_time'], time_format).tm_hour
            busy_stat[start_hour] += 1
        if t['end_station'] == stt['station']:
            end_hour = time.strptime(t['end_time'], time_format).tm_hour
            busy_stat[end_hour] += 1
    stt['busy24'] = busy_stat

In [29]:
# list_station[0]['busy24']

In [30]:
list_station[0]

{'station': 3005,
 'station_name': '7th & Flower',
 'go_live_date': '7/7/2016',
 'region': 'DTLA',
 'lan': 34.0485,
 'lon': -118.25853700000002,
 'trip_duration_distribution': [[1, 0],
  [2, 61],
  [3, 175],
  [4, 310],
  [5, 384],
  [6, 337],
  [7, 277],
  [8, 284],
  [9, 218],
  [10, 195],
  [11, 195],
  [12, 171],
  [13, 150],
  [14, 138],
  [15, 127],
  [16, 112],
  [17, 92],
  [18, 74],
  [19, 80],
  [20, 47],
  [21, 49],
  [22, 29],
  [23, 27],
  [24, 37],
  [25, 34],
  [26, 30],
  [27, 25],
  [28, 35],
  [29, 20],
  [30, 18],
  [31, 17],
  [32, 7],
  [33, 9],
  [34, 11],
  [35, 10],
  [36, 12],
  [37, 10],
  [38, 10],
  [39, 10],
  [40, 9],
  [41, 2],
  [42, 1],
  [43, 3],
  [44, 3],
  [45, 2],
  [46, 4],
  [47, 4],
  [48, 5],
  [49, 6],
  [50, 4],
  [51, 4],
  [52, 3],
  [53, 3],
  [54, 5],
  [55, 3],
  [56, 5],
  [57, 5],
  [58, 3],
  [59, 5],
  [60, 2],
  [61, 3],
  [62, 0],
  [63, 4],
  [64, 0],
  [65, 4],
  [66, 3],
  [67, 3],
  [68, 5],
  [69, 4],
  [70, 3],
  [71, 3],
  [72, 3],
  [73, 2],
  [74, 2],
  [75, 7],
  [76, 0],
  [77, 2],
  [78, 1],
  [79, 3],
  [80, 4],
  [81, 4],
  [82, 1],
  [83, 3],
  [84, 1],
  [85, 2],
  [86, 0],
  [87, 0],
  [88, 5],
  [89, 3],
  [90, 4],
  [91, 1],
  [92, 4],
  [93, 1],
  [94, 5],
  [95, 2],
  [96, 4],
  [97, 4],
  [98, 1],
  [99, 6],
  [100, 3],
  [101, 2],
  [102, 1],
  [103, 4],
  [104, 0],
  [105, 0],
  [106, 0],
  [107, 2],
  [108, 1],
  [109, 1],
  [110, 0],
  [111, 2],
  [112, 1],
  [113, 1],
  [114, 1],
  [115, 1],
  [116, 1],
  [117, 2],
  [118, 4],
  [119, 0],
  [120, 0],
  [121, 117]],
 'times_departure': [{'station_id': 3005, 'times': 149},
  {'station_id': 3006, 'times': 52},
  {'station_id': 3007, 'times': 5},
  {'station_id': 3008, 'times': 89},
  {'station_id': 3010, 'times': 3},
  {'station_id': 3011, 'times': 17},
  {'station_id': 3014, 'times': 19},
  {'station_id': 3016, 'times': 9},
  {'station_id': 3018, 'times': 19},
  {'station_id': 3019, 'times': 24},
  {'station_id': 3020, 'times': 10},
  {'station_id': 3021, 'times': 26},
  {'station_id': 3022, 'times': 37},
  {'station_id': 3023, 'times': 13},
  {'station_id': 3024, 'times': 4},
  {'station_id': 3025, 'times': 7},
  {'station_id': 3026, 'times': 15},
  {'station_id': 3027, 'times': 14},
  {'station_id': 3028, 'times': 2},
  {'station_id': 3029, 'times': 12},
  {'station_id': 3030, 'times': 54},
  {'station_id': 3031, 'times': 157},
  {'station_id': 3032, 'times': 22},
  {'station_id': 3033, 'times': 8},
  {'station_id': 3034, 'times': 148},
  {'station_id': 3035, 'times': 35},
  {'station_id': 3036, 'times': 4},
  {'station_id': 3037, 'times': 25},
  {'station_id': 3038, 'times': 47},
  {'station_id': 3040, 'times': 36},
  {'station_id': 3042, 'times': 24},
  {'station_id': 3045, 'times': 8},
  {'station_id': 3046, 'times': 5},
  {'station_id': 3047, 'times': 23},
  {'station_id': 3048, 'times': 49},
  {'station_id': 3049, 'times': 48},
  {'station_id': 3051, 'times': 37},
  {'station_id': 3052, 'times': 40},
  {'station_id': 3053, 'times': 1},
  {'station_id': 3054, 'times': 6},
  {'station_id': 3055, 'times': 72},
  {'station_id': 3056, 'times': 11},
  {'station_id': 3057, 'times': 16},
  {'station_id': 3058, 'times': 18},
  {'station_id': 3059, 'times': 10},
  {'station_id': 3060, 'times': 3},
  {'station_id': 3062, 'times': 77},
  {'station_id': 3063, 'times': 37},
  {'station_id': 3064, 'times': 27},
  {'station_id': 3065, 'times': 19},
  {'station_id': 3066, 'times': 12},
  {'station_id': 3067, 'times': 63},
  {'station_id': 3068, 'times': 12},
  {'station_id': 3069, 'times': 70},
  {'station_id': 3074, 'times': 20},
  {'station_id': 3075, 'times': 49},
  {'station_id': 3076, 'times': 33},
  {'station_id': 3077, 'times': 14},
  {'station_id': 3078, 'times': 1},
  {'station_id': 3079, 'times': 2},
  {'station_id': 3080, 'times': 2},
  {'station_id': 3082, 'times': 33}],
 'times_return': [{'station_id': 3005, 'times': 149},
  {'station_id': 3006, 'times': 46},
  {'station_id': 3007, 'times': 27},
  {'station_id': 3008, 'times': 41},
  {'station_id': 3010, 'times': 2},
  {'station_id': 3011, 'times': 22},
  {'station_id': 3014, 'times': 39},
  {'station_id': 3016, 'times': 18},
  {'station_id': 3018, 'times': 24},
  {'station_id': 3019, 'times': 32},
  {'station_id': 3020, 'times': 9},
  {'station_id': 3021, 'times': 42},
  {'station_id': 3022, 'times': 48},
  {'station_id': 3023, 'times': 11},
  {'station_id': 3024, 'times': 29},
  {'station_id': 3025, 'times': 11},
  {'station_id': 3026, 'times': 31},
  {'station_id': 3027, 'times': 44},
  {'station_id': 3028, 'times': 20},
  {'station_id': 3029, 'times': 18},
  {'station_id': 3030, 'times': 70},
  {'station_id': 3031, 'times': 201},
  {'station_id': 3032, 'times': 12},
  {'station_id': 3033, 'times': 7},
  {'station_id': 3034, 'times': 153},
  {'station_id': 3035, 'times': 32},
  {'station_id': 3036, 'times': 9},
  {'station_id': 3037, 'times': 8},
  {'station_id': 3038, 'times': 71},
  {'station_id': 3040, 'times': 49},
  {'station_id': 3042, 'times': 19},
  {'station_id': 3045, 'times': 1},
  {'station_id': 3046, 'times': 12},
  {'station_id': 3047, 'times': 49},
  {'station_id': 3048, 'times': 43},
  {'station_id': 3049, 'times': 126},
  {'station_id': 3051, 'times': 65},
  {'station_id': 3052, 'times': 87},
  {'station_id': 3053, 'times': 1},
  {'station_id': 3054, 'times': 11},
  {'station_id': 3055, 'times': 122},
  {'station_id': 3056, 'times': 4},
  {'station_id': 3057, 'times': 1},
  {'station_id': 3058, 'times': 18},
  {'station_id': 3059, 'times': 3},
  {'station_id': 3060, 'times': 1},
  {'station_id': 3062, 'times': 102},
  {'station_id': 3063, 'times': 48},
  {'station_id': 3064, 'times': 35},
  {'station_id': 3065, 'times': 10},
  {'station_id': 3066, 'times': 11},
  {'station_id': 3067, 'times': 79},
  {'station_id': 3068, 'times': 44},
  {'station_id': 3069, 'times': 59},
  {'station_id': 3074, 'times': 28},
  {'station_id': 3075, 'times': 46},
  {'station_id': 3076, 'times': 25},
  {'station_id': 3077, 'times': 14},
  {'station_id': 3078, 'times': 5},
  {'station_id': 3079, 'times': 4},
  {'station_id': 3081, 'times': 2},
  {'station_id': 3082, 'times': 53},
  {'station_id': 4108, 'times': 1}],
 'busy24': {0: 77,
  1: 31,
  2: 19,
  3: 29,
  4: 32,
  5: 29,
  6: 64,
  7: 192,
  8: 306,
  9: 303,
  10: 123,
  11: 203,
  12: 242,
  13: 327,
  14: 232,
  15: 189,
  16: 252,
  17: 335,
  18: 394,
  19: 344,
  20: 234,
  21: 148,
  22: 108,
  23: 95}}

### related station statistics

In [31]:
for stt in list_station:
    stt['related_station'] = {}
    for t in l_trip:
        if t['start_station'] == stt['station']:
            to_station = t['end_station']
            if stt['related_station'].get(to_station) == None:
                stt['related_station'][to_station] = {
                    "in_times": 0,
                    "out_times": 0,
                    "in_min_sum": 0,
                    "out_min_sum": 0
                }
            stt['related_station'][to_station]['out_times'] += 1
            stt['related_station'][to_station]['out_min_sum'] += t['duration']
            
        if t['end_station'] == stt['station']:
            from_station = t['start_station']
            if stt['related_station'].get(from_station) == None:
                stt['related_station'][from_station] = {
                    "in_times": 0,
                    "out_times": 0,
                    "in_min_sum": 0,
                    "out_min_sum": 0
                }
            stt['related_station'][from_station]['in_times'] += 1
            stt['related_station'][from_station]['in_min_sum'] += t['duration']

In [32]:
# list_station[0]['related_station']

### total duration related to the station & total times related to the station

In [33]:
for stt in list_station:
    stt['total_min_related'] = 0
    stt['total_times_related'] = 0
    for t in l_trip:
        if t['start_station'] == stt['station']:
            stt['total_min_related'] += t['duration']
            stt['total_times_related'] += 1
            
        if t['start_station'] == t['end_station']:
            continue
        
        if t['end_station'] == stt['station']:
            stt['total_min_related'] += t['duration']
            stt['total_times_related'] += 1

In [34]:
# list_station[0]['total_min_related']

In [35]:
# list_station[0]['total_times_related']

In [36]:
list_station[0]

{'station': 3005,
 'station_name': '7th & Flower',
 'go_live_date': '7/7/2016',
 'region': 'DTLA',
 'lan': 34.0485,
 'lon': -118.25853700000002,
 'trip_duration_distribution': [[1, 0],
  [2, 61],
  [3, 175],
  [4, 310],
  [5, 384],
  [6, 337],
  [7, 277],
  [8, 284],
  [9, 218],
  [10, 195],
  [11, 195],
  [12, 171],
  [13, 150],
  [14, 138],
  [15, 127],
  [16, 112],
  [17, 92],
  [18, 74],
  [19, 80],
  [20, 47],
  [21, 49],
  [22, 29],
  [23, 27],
  [24, 37],
  [25, 34],
  [26, 30],
  [27, 25],
  [28, 35],
  [29, 20],
  [30, 18],
  [31, 17],
  [32, 7],
  [33, 9],
  [34, 11],
  [35, 10],
  [36, 12],
  [37, 10],
  [38, 10],
  [39, 10],
  [40, 9],
  [41, 2],
  [42, 1],
  [43, 3],
  [44, 3],
  [45, 2],
  [46, 4],
  [47, 4],
  [48, 5],
  [49, 6],
  [50, 4],
  [51, 4],
  [52, 3],
  [53, 3],
  [54, 5],
  [55, 3],
  [56, 5],
  [57, 5],
  [58, 3],
  [59, 5],
  [60, 2],
  [61, 3],
  [62, 0],
  [63, 4],
  [64, 0],
  [65, 4],
  [66, 3],
  [67, 3],
  [68, 5],
  [69, 4],
  [70, 3],
  [71, 3],
  [72, 3],
  [73, 2],
  [74, 2],
  [75, 7],
  [76, 0],
  [77, 2],
  [78, 1],
  [79, 3],
  [80, 4],
  [81, 4],
  [82, 1],
  [83, 3],
  [84, 1],
  [85, 2],
  [86, 0],
  [87, 0],
  [88, 5],
  [89, 3],
  [90, 4],
  [91, 1],
  [92, 4],
  [93, 1],
  [94, 5],
  [95, 2],
  [96, 4],
  [97, 4],
  [98, 1],
  [99, 6],
  [100, 3],
  [101, 2],
  [102, 1],
  [103, 4],
  [104, 0],
  [105, 0],
  [106, 0],
  [107, 2],
  [108, 1],
  [109, 1],
  [110, 0],
  [111, 2],
  [112, 1],
  [113, 1],
  [114, 1],
  [115, 1],
  [116, 1],
  [117, 2],
  [118, 4],
  [119, 0],
  [120, 0],
  [121, 117]],
 'times_departure': [{'station_id': 3005, 'times': 149},
  {'station_id': 3006, 'times': 52},
  {'station_id': 3007, 'times': 5},
  {'station_id': 3008, 'times': 89},
  {'station_id': 3010, 'times': 3},
  {'station_id': 3011, 'times': 17},
  {'station_id': 3014, 'times': 19},
  {'station_id': 3016, 'times': 9},
  {'station_id': 3018, 'times': 19},
  {'station_id': 3019, 'times': 24},
  {'station_id': 3020, 'times': 10},
  {'station_id': 3021, 'times': 26},
  {'station_id': 3022, 'times': 37},
  {'station_id': 3023, 'times': 13},
  {'station_id': 3024, 'times': 4},
  {'station_id': 3025, 'times': 7},
  {'station_id': 3026, 'times': 15},
  {'station_id': 3027, 'times': 14},
  {'station_id': 3028, 'times': 2},
  {'station_id': 3029, 'times': 12},
  {'station_id': 3030, 'times': 54},
  {'station_id': 3031, 'times': 157},
  {'station_id': 3032, 'times': 22},
  {'station_id': 3033, 'times': 8},
  {'station_id': 3034, 'times': 148},
  {'station_id': 3035, 'times': 35},
  {'station_id': 3036, 'times': 4},
  {'station_id': 3037, 'times': 25},
  {'station_id': 3038, 'times': 47},
  {'station_id': 3040, 'times': 36},
  {'station_id': 3042, 'times': 24},
  {'station_id': 3045, 'times': 8},
  {'station_id': 3046, 'times': 5},
  {'station_id': 3047, 'times': 23},
  {'station_id': 3048, 'times': 49},
  {'station_id': 3049, 'times': 48},
  {'station_id': 3051, 'times': 37},
  {'station_id': 3052, 'times': 40},
  {'station_id': 3053, 'times': 1},
  {'station_id': 3054, 'times': 6},
  {'station_id': 3055, 'times': 72},
  {'station_id': 3056, 'times': 11},
  {'station_id': 3057, 'times': 16},
  {'station_id': 3058, 'times': 18},
  {'station_id': 3059, 'times': 10},
  {'station_id': 3060, 'times': 3},
  {'station_id': 3062, 'times': 77},
  {'station_id': 3063, 'times': 37},
  {'station_id': 3064, 'times': 27},
  {'station_id': 3065, 'times': 19},
  {'station_id': 3066, 'times': 12},
  {'station_id': 3067, 'times': 63},
  {'station_id': 3068, 'times': 12},
  {'station_id': 3069, 'times': 70},
  {'station_id': 3074, 'times': 20},
  {'station_id': 3075, 'times': 49},
  {'station_id': 3076, 'times': 33},
  {'station_id': 3077, 'times': 14},
  {'station_id': 3078, 'times': 1},
  {'station_id': 3079, 'times': 2},
  {'station_id': 3080, 'times': 2},
  {'station_id': 3082, 'times': 33}],
 'times_return': [{'station_id': 3005, 'times': 149},
  {'station_id': 3006, 'times': 46},
  {'station_id': 3007, 'times': 27},
  {'station_id': 3008, 'times': 41},
  {'station_id': 3010, 'times': 2},
  {'station_id': 3011, 'times': 22},
  {'station_id': 3014, 'times': 39},
  {'station_id': 3016, 'times': 18},
  {'station_id': 3018, 'times': 24},
  {'station_id': 3019, 'times': 32},
  {'station_id': 3020, 'times': 9},
  {'station_id': 3021, 'times': 42},
  {'station_id': 3022, 'times': 48},
  {'station_id': 3023, 'times': 11},
  {'station_id': 3024, 'times': 29},
  {'station_id': 3025, 'times': 11},
  {'station_id': 3026, 'times': 31},
  {'station_id': 3027, 'times': 44},
  {'station_id': 3028, 'times': 20},
  {'station_id': 3029, 'times': 18},
  {'station_id': 3030, 'times': 70},
  {'station_id': 3031, 'times': 201},
  {'station_id': 3032, 'times': 12},
  {'station_id': 3033, 'times': 7},
  {'station_id': 3034, 'times': 153},
  {'station_id': 3035, 'times': 32},
  {'station_id': 3036, 'times': 9},
  {'station_id': 3037, 'times': 8},
  {'station_id': 3038, 'times': 71},
  {'station_id': 3040, 'times': 49},
  {'station_id': 3042, 'times': 19},
  {'station_id': 3045, 'times': 1},
  {'station_id': 3046, 'times': 12},
  {'station_id': 3047, 'times': 49},
  {'station_id': 3048, 'times': 43},
  {'station_id': 3049, 'times': 126},
  {'station_id': 3051, 'times': 65},
  {'station_id': 3052, 'times': 87},
  {'station_id': 3053, 'times': 1},
  {'station_id': 3054, 'times': 11},
  {'station_id': 3055, 'times': 122},
  {'station_id': 3056, 'times': 4},
  {'station_id': 3057, 'times': 1},
  {'station_id': 3058, 'times': 18},
  {'station_id': 3059, 'times': 3},
  {'station_id': 3060, 'times': 1},
  {'station_id': 3062, 'times': 102},
  {'station_id': 3063, 'times': 48},
  {'station_id': 3064, 'times': 35},
  {'station_id': 3065, 'times': 10},
  {'station_id': 3066, 'times': 11},
  {'station_id': 3067, 'times': 79},
  {'station_id': 3068, 'times': 44},
  {'station_id': 3069, 'times': 59},
  {'station_id': 3074, 'times': 28},
  {'station_id': 3075, 'times': 46},
  {'station_id': 3076, 'times': 25},
  {'station_id': 3077, 'times': 14},
  {'station_id': 3078, 'times': 5},
  {'station_id': 3079, 'times': 4},
  {'station_id': 3081, 'times': 2},
  {'station_id': 3082, 'times': 53},
  {'station_id': 4108, 'times': 1}],
 'busy24': {0: 77,
  1: 31,
  2: 19,
  3: 29,
  4: 32,
  5: 29,
  6: 64,
  7: 192,
  8: 306,
  9: 303,
  10: 123,
  11: 203,
  12: 242,
  13: 327,
  14: 232,
  15: 189,
  16: 252,
  17: 335,
  18: 394,
  19: 344,
  20: 234,
  21: 148,
  22: 108,
  23: 95},
 'related_station': {3076: {'in_times': 25,
   'out_times': 33,
   'in_min_sum': 454,
   'out_min_sum': 355},
  3063: {'in_times': 48,
   'out_times': 37,
   'in_min_sum': 532,
   'out_min_sum': 640},
  3052: {'in_times': 87,
   'out_times': 40,
   'in_min_sum': 848,
   'out_min_sum': 935},
  3021: {'in_times': 42,
   'out_times': 26,
   'in_min_sum': 1109,
   'out_min_sum': 1161},
  3040: {'in_times': 49,
   'out_times': 36,
   'in_min_sum': 1641,
   'out_min_sum': 1571},
  3075: {'in_times': 46,
   'out_times': 49,
   'in_min_sum': 728,
   'out_min_sum': 474},
  3030: {'in_times': 70,
   'out_times': 54,
   'in_min_sum': 1608,
   'out_min_sum': 1287},
  3016: {'in_times': 18,
   'out_times': 9,
   'in_min_sum': 253,
   'out_min_sum': 142},
  3062: {'in_times': 102,
   'out_times': 77,
   'in_min_sum': 1144,
   'out_min_sum': 979},
  3042: {'in_times': 19,
   'out_times': 24,
   'in_min_sum': 343,
   'out_min_sum': 379},
  3049: {'in_times': 126,
   'out_times': 48,
   'in_min_sum': 1806,
   'out_min_sum': 556},
  3051: {'in_times': 65,
   'out_times': 37,
   'in_min_sum': 1674,
   'out_min_sum': 941},
  3014: {'in_times': 39,
   'out_times': 19,
   'in_min_sum': 1024,
   'out_min_sum': 367},
  3034: {'in_times': 153,
   'out_times': 148,
   'in_min_sum': 2594,
   'out_min_sum': 820},
  3035: {'in_times': 32,
   'out_times': 35,
   'in_min_sum': 1395,
   'out_min_sum': 4173},
  3065: {'in_times': 10,
   'out_times': 19,
   'in_min_sum': 355,
   'out_min_sum': 1903},
  3029: {'in_times': 18,
   'out_times': 12,
   'in_min_sum': 299,
   'out_min_sum': 178},
  3028: {'in_times': 20, 'out_times': 2, 'in_min_sum': 313, 'out_min_sum': 27},
  3031: {'in_times': 201,
   'out_times': 157,
   'in_min_sum': 3815,
   'out_min_sum': 2658},
  3053: {'in_times': 1, 'out_times': 1, 'in_min_sum': 10, 'out_min_sum': 5},
  3038: {'in_times': 71,
   'out_times': 47,
   'in_min_sum': 805,
   'out_min_sum': 464},
  3047: {'in_times': 49,
   'out_times': 23,
   'in_min_sum': 492,
   'out_min_sum': 2006},
  3037: {'in_times': 8,
   'out_times': 25,
   'in_min_sum': 260,
   'out_min_sum': 442},
  3005: {'in_times': 149,
   'out_times': 149,
   'in_min_sum': 9813,
   'out_min_sum': 9813},
  3067: {'in_times': 79,
   'out_times': 63,
   'in_min_sum': 1256,
   'out_min_sum': 1547},
  3066: {'in_times': 11,
   'out_times': 12,
   'in_min_sum': 342,
   'out_min_sum': 890},
  3069: {'in_times': 59,
   'out_times': 70,
   'in_min_sum': 877,
   'out_min_sum': 1025},
  3055: {'in_times': 122,
   'out_times': 72,
   'in_min_sum': 3376,
   'out_min_sum': 1755},
  3036: {'in_times': 9, 'out_times': 4, 'in_min_sum': 179, 'out_min_sum': 82},
  3008: {'in_times': 41,
   'out_times': 89,
   'in_min_sum': 858,
   'out_min_sum': 955},
  3074: {'in_times': 28,
   'out_times': 20,
   'in_min_sum': 348,
   'out_min_sum': 525},
  3022: {'in_times': 48,
   'out_times': 37,
   'in_min_sum': 862,
   'out_min_sum': 577},
  3006: {'in_times': 46,
   'out_times': 52,
   'in_min_sum': 471,
   'out_min_sum': 415},
  3058: {'in_times': 18,
   'out_times': 18,
   'in_min_sum': 376,
   'out_min_sum': 334},
  3026: {'in_times': 31,
   'out_times': 15,
   'in_min_sum': 1357,
   'out_min_sum': 278},
  3027: {'in_times': 44,
   'out_times': 14,
   'in_min_sum': 929,
   'out_min_sum': 127},
  3068: {'in_times': 44,
   'out_times': 12,
   'in_min_sum': 423,
   'out_min_sum': 372},
  3025: {'in_times': 11,
   'out_times': 7,
   'in_min_sum': 1600,
   'out_min_sum': 96},
  3010: {'in_times': 2, 'out_times': 3, 'in_min_sum': 85, 'out_min_sum': 75},
  3019: {'in_times': 32,
   'out_times': 24,
   'in_min_sum': 655,
   'out_min_sum': 270},
  3033: {'in_times': 7, 'out_times': 8, 'in_min_sum': 98, 'out_min_sum': 132},
  3064: {'in_times': 35,
   'out_times': 27,
   'in_min_sum': 910,
   'out_min_sum': 1432},
  3032: {'in_times': 12,
   'out_times': 22,
   'in_min_sum': 630,
   'out_min_sum': 459},
  3018: {'in_times': 24,
   'out_times': 19,
   'in_min_sum': 930,
   'out_min_sum': 447},
  3011: {'in_times': 22,
   'out_times': 17,
   'in_min_sum': 1651,
   'out_min_sum': 179},
  3046: {'in_times': 12, 'out_times': 5, 'in_min_sum': 257, 'out_min_sum': 68},
  3045: {'in_times': 1, 'out_times': 8, 'in_min_sum': 17, 'out_min_sum': 187},
  3007: {'in_times': 27, 'out_times': 5, 'in_min_sum': 929, 'out_min_sum': 38},
  3024: {'in_times': 29, 'out_times': 4, 'in_min_sum': 989, 'out_min_sum': 57},
  3048: {'in_times': 43,
   'out_times': 49,
   'in_min_sum': 912,
   'out_min_sum': 798},
  3079: {'in_times': 4, 'out_times': 2, 'in_min_sum': 212, 'out_min_sum': 45},
  3077: {'in_times': 14,
   'out_times': 14,
   'in_min_sum': 263,
   'out_min_sum': 372},
  3023: {'in_times': 11,
   'out_times': 13,
   'in_min_sum': 234,
   'out_min_sum': 209},
  3057: {'in_times': 1, 'out_times': 16, 'in_min_sum': 10, 'out_min_sum': 443},
  3080: {'in_times': 0, 'out_times': 2, 'in_min_sum': 0, 'out_min_sum': 45},
  3060: {'in_times': 1, 'out_times': 3, 'in_min_sum': 15, 'out_min_sum': 42},
  3020: {'in_times': 9,
   'out_times': 10,
   'in_min_sum': 183,
   'out_min_sum': 120},
  3056: {'in_times': 4, 'out_times': 11, 'in_min_sum': 53, 'out_min_sum': 272},
  3059: {'in_times': 3,
   'out_times': 10,
   'in_min_sum': 118,
   'out_min_sum': 527},
  3078: {'in_times': 5, 'out_times': 1, 'in_min_sum': 87, 'out_min_sum': 17},
  3054: {'in_times': 11,
   'out_times': 6,
   'in_min_sum': 176,
   'out_min_sum': 107},
  3082: {'in_times': 53,
   'out_times': 33,
   'in_min_sum': 871,
   'out_min_sum': 591},
  4108: {'in_times': 1, 'out_times': 0, 'in_min_sum': 19, 'out_min_sum': 0},
  3081: {'in_times': 2, 'out_times': 0, 'in_min_sum': 37, 'out_min_sum': 0}},
 'total_min_related': 95283,
 'total_times_related': 4159}

## process every quater

In [37]:
def process_quater(quater, l):
    # quater - '2016-q3'
    list_station = copy.deepcopy(l)
    fn = 'metro-bike-%s.csv' % quater
    pth_quarter = "../processed_data/" + fn
    
    df_trip = pd.read_csv(pth_quarter)
    
    l_trip = df_trip.to_dict('records')
    
    # 2.1
    for stt in list_station:
        dur_stat = [[i + 1, 0] for i in range(121)]
        for t in l_trip:
            if t['start_station'] == stt['station']:
                if t['duration'] > 120:
                    # add at duration == 121
                    dur_stat[120][1] += 1
                else:
                    dur_stat[t['duration'] - 1][1] += 1
            if t['end_station'] == stt['station']:
                # in == out
                if t['end_station'] == t['start_station']:
                    continue
                if t['duration'] > 120:
                    dur_stat[120][1] += 1
                else:
                    dur_stat[t['duration'] - 1][1] += 1
        stt['trip_duration_distribution'] = dur_stat
        
    # 2.2
    for stt in list_station:
        # {3005: 20, 3006: 5, ...}  ==>
        # [{"station_id": 3005, "times": 20}, ...]
        dep_stat = {}
        for t in l_trip:
            if t['start_station'] == stt['station']:
                target = t['end_station']
                if dep_stat.get(target) == None:
                    dep_stat[target] = 1
                else:
                    dep_stat[target] += 1
        dict_stat = [{'station_id': t[0], 'times': t[1]} for t in dep_stat.items()]
        stt['times_departure'] = sorted(dict_stat, key=lambda x: x['station_id'])
        
    # 2.3
    for stt in list_station:
        # {3005: 20, 3006: 5, ...}  ==>
        # [{"station_id": 3005, "times": 20}, ...]
        dep_stat = {}
        for t in l_trip:
            if t['end_station'] == stt['station']:
                target = t['start_station']
                if dep_stat.get(target) == None:
                    dep_stat[target] = 1
                else:
                    dep_stat[target] += 1
        dict_stat = [{'station_id': t[0], 'times': t[1]} for t in dep_stat.items()]
        stt['times_return'] = sorted(dict_stat, key=lambda x: x['station_id'])
        
    # 2.4
    time_format = '%m/%d/%Y %H:%M'
    for stt in list_station:
        # {0: 20, 1: 5, ...}  ==>
        # [{"hour": 0, "times": 20}, ...]
        busy_stat = {i: 0 for i in range(24)}
        for t in l_trip:
            if t['start_station'] == stt['station']:
                start_hour = time.strptime(t['start_time'], time_format).tm_hour
                busy_stat[start_hour] += 1
            if t['end_station'] == stt['station']:
                end_hour = time.strptime(t['end_time'], time_format).tm_hour
                busy_stat[end_hour] += 1
        stt['busy24'] = busy_stat
        
    # 2.5
    for stt in list_station:
        stt['related_station'] = {}
        for t in l_trip:
            if t['start_station'] == stt['station']:
                to_station = t['end_station']
                if stt['related_station'].get(to_station) == None:
                    stt['related_station'][to_station] = {
                        "in_times": 0,
                        "out_times": 0,
                        "in_min_sum": 0,
                        "out_min_sum": 0
                    }
                stt['related_station'][to_station]['out_times'] += 1
                stt['related_station'][to_station]['out_min_sum'] += t['duration']

            if t['end_station'] == stt['station']:
                from_station = t['start_station']
                if stt['related_station'].get(from_station) == None:
                    stt['related_station'][from_station] = {
                        "in_times": 0,
                        "out_times": 0,
                        "in_min_sum": 0,
                        "out_min_sum": 0
                    }
                stt['related_station'][from_station]['in_times'] += 1
                stt['related_station'][from_station]['in_min_sum'] += t['duration']
    
    # 2.6
    for stt in list_station:
        stt['total_min_related'] = 0
        stt['total_times_related'] = 0
        for t in l_trip:
            if t['start_station'] == stt['station']:
                stt['total_min_related'] += t['duration']
                stt['total_times_related'] += 1

            if t['start_station'] == t['end_station']:
                continue

            if t['end_station'] == stt['station']:
                stt['total_min_related'] += t['duration']
                stt['total_times_related'] += 1
    
    # save as geojson
    fc = FeatureCollection([getFeature(s) for s in list_station])
    with open('../chart_data/station/%s.json' % quater, 'w', encoding='utf-8') as fp:
        geojson.dump(fc, fp)
    print('finish:', quater)

In [40]:
quarters = [
    '2016-q3',
    '2016-q4',
    '2017-q1',
    '2017-q2',
    '2017-q3',
    '2017-q4',
    '2016-q3',
    '2018-q1',
    '2018-q2',
    '2018-q3',
    '2018-q4',
    '2019-q1',
    '2019-q2',
    '2019-q3',
    '2019-q4',
    '2020-q1',
    '2020-q2'
]

In [41]:
for quarter in quarters:
    process_quater(quarter, l_origin)

finish: 2016-q3
finish: 2016-q4
finish: 2017-q1
finish: 2017-q2
finish: 2017-q3
finish: 2017-q4
finish: 2016-q3
finish: 2018-q1
finish: 2018-q2
finish: 2018-q3
finish: 2018-q4
finish: 2019-q1
finish: 2019-q2
finish: 2019-q3
finish: 2019-q4
finish: 2020-q1
finish: 2020-q2